<!--
Variables called:

-->
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Probability of garbage
          <br><small class="text-muted">Year over year results from beach-liiter-surveys on Lac Léman. Expressed as the probability distribution of finding a quantity of trash per meter of lake shore.</small></h6>
          <button class="btn bg-info text-white border-white text-left" style=""  role="button" data-toggle="modal" data-target="#probability" aria-expanded="false" aria-controls="">
            Probably worth a look ;-}</button>
      </div>
    
