<script type="text/javascript">


$(document).ready(function() {

  $('.shutterTitle').click(function() {
    var parentTag = $( this ).parent();
    var this_height = $(this);
    var this_child = $(this).children()[1];
    console.log(this_child);
  $( parentTag ).each(function(i){
    if ($(parentTag).hasClass('close-animate') || !$(parentTag).hasClass('shutterExpanded')) {
    console.log(this);
    $(this_height ).css("height", "auto");
    $(this_height).addClass('text-right');
    $(this_height).addClass('pr-3');
    $(this_height).removeClass('p-1');
    // $(this_child).addClass('text-right');
    $(parentTag).removeClass('close-animate').addClass('shutterExpanded');
    $('.wrapper').addClass('shutterOpen');
    console.log(this_child)
    } else {
    console.log("Else");
    $(this).removeClass('shutterExpanded').addClass('close-animate');
    $(this_height).removeClass('text-right');
    $(this_height).removeClass('pr-3');
    $(this_height).addClass('p-1');
    // $(this_height).children(".p").css("display", "visible");
    $(this_height ).css("height", "100%");
    $('.wrapper').removeClass('shutterOpen');
    console.log(this);
    }
    // console.log(this)
  });
})}
);
</script>
