<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body class="w-100 m-0">
<div class="container-fluid p-0 m-0" style="width:100%">
  <h4>
  Hi! That was the wrong search term:if you are looking for data on a city check the API list for availlable terms:
  <br>
  http://127.0.0.1:8000/dirt/city-list/
  <br>

  Then if you want just the data about all the objects found:
  <br>
  http://127.0.0.1:8000/dirt/codes/Vevey/
  <br>
  IF you read the instructions on that page you should be able to find whatever data you were looking for.
  <br>
  For a the web version and analysis of the data check here:
  <br>
  http://127.0.0.1:8000/dirt/beach_litter.html
  <br>
  if you go here:
  <br>
  http://127.0.0.1:8000/

  <br>

  and it still doesn't work, the server is down

</div>
</body>
