<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body class="w-100 m-0">
<div class="container-fluid p-0 m-0" style="width:100%">
  <h4>
  Hi! That was the wrong search term: if you are looking for data on a city check the API list for availlable terms:
  <br>
  <a href="https://mwshovel.pythonanywhere.com/dirt/city-list/">"https://mwshovel.pythonanywhere.com/dirt/city-list/</a>
  <br>

  Then if you want just the data about all the objects found:
  <br>
  <a/ href="https://mwshovel.pythonanywhere.com/dirt/codes/Vevey/">https://mwshovel.pythonanywhere.com/dirt/codes/Vevey/</a>
  <br>
  IF you read the instructions on that page you should be able to find whatever data you are looking for.
  <br>
  For a the web version and analysis of the data check here:
  <br>
  <a href="https://mwshovel.pythonanywhere.com/dirt/beach_litter.html">https://mwshovel.pythonanywhere.com/dirt/beach_litter.html</a>
  <br>
  if you go here:
  <br>
  <a href="https://mwshovel.pythonanywhere.com/">https://mwshovel.pythonanywhere.com/</a>

  <br>

  and if it still doesn't work, the server is down...

</div>
</body>
