<!--
Variables called:
calls measuring_button.html'
-->
<div class="list-group border-right-0 border-left-0 ">
  <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
    <h6 class="mb-1" style="font-family:'Montserrat'"> Methods based on two programs:
    <br><small class="text-muted"><a href="https://www.eea.europa.eu/themes/water/europes-seas-and-coasts/assessments/marine-litterwatch"> Marine Liiter Watch</a>
    and <a href="https://www.ospar.org/"> OSPAR</a>.  A brief description of how we define a 'beach-litter-survey':</small></h6>
    <button class="btn bg-info text-white" style="" data-toggle="modal"  data-target="#measuring" aria-expanded="false" aria-controls="table-of-results">
       Measuring beach litter
    </button>
  </div>
</div>
