
<!--
Variables called:
about_beach_litter.html
probability_button.html
swiss_lakes_button.html
-->
<div class="card border-white" id="analysis" style="" >
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    Methods and Analysis
  </div>
  <div class="card-body p-1 w-100 text-left" >
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Methods based on two programs:
        <br><small class="text-muted"><a href="https://www.eea.europa.eu/themes/water/europes-seas-and-coasts/assessments/marine-litterwatch"> Marine Liiter Watch</a>
        and <a href="https://www.ospar.org/"> OSPAR</a>.  A brief description of how we define a 'beach-litter-survey':</small></h6>
        <button class="btn bg-info text-white" style="" data-toggle="modal"  data-target="#measuring" aria-expanded="false" aria-controls="table-of-results">
           Measuring beach litter
        </button>
      </div>
    </div>
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Probability of garbage
          <br><small class="text-muted">Year over year results from beach-liiter-surveys on Lac Léman. Expressed as the probability distribution of finding a quantity of trash per meter of lake shore.</small></h6>
          <button class="btn bg-info text-white border-white text-left" style=""  role="button" data-toggle="modal" data-target="#probability" aria-expanded="false" aria-controls="">
            Probably worth a look ;-}</button>
      </div>
    </div>
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="mb-1" style="font-family:'Montserrat'"> Comparing Swiss lakes
            <br><small class="text-muted">Comparing the survey results from 15 different lakes in Switzerland.</small></h6>
          <button class="btn bg-info text-white border-white text-left" style=""  role="button" data-toggle="modal" data-target="#swiss_lakes" aria-expanded="false" aria-controls="">
              Swiss lakes
          </button>
      </div>
    </div>
  </div>
</div>
