<!--
Variables called:
button Culture mdedum calls the 'medium-modal"
button objectives calls the objctives modal
-->
<div class="card border-white" id="analysis" style="" >
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    Methods and Analysis
  </div>
  <div class="card-body p-1 w-100 text-left" >
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-2" style="font-family:'Montserrat'">Triplicate sampling with positive and negative controls:
        <br><small class="text-muted">The sampling was repeated two years consecutiveley at the same three locations, for eight weeks during the summer.</small></h6>
        <div class="btn-toolbar">
        <a class="btn bg-info text-white p-1 border-white" style="" href="http://wiki.hackuarium.ch/w/Micro_to_Macro_Water_Pollution" aria-controls="table-of-results">
           <small>Sampling methods</small>
        </a>
        <a class="btn bg-info text-white  p-1 border-white" style="" href="https://www.bafu.admin.ch/bafu/fr/home/themes/eaux/publications/publications-eaux/evaluation-eaux-baignade.html" aria-expanded="false">
           <small>Federal regulations</small>
        </a>
        <button class="btn bg-info text-white p-1 border-white" style="" role="button" data-toggle="modal"  data-target="#medium-modal" aria-expanded="false" aria-controls="table-of-results">
           <small>Culture specifications</small>
        </button>
        <a class="btn bg-info text-white border-white text-left" style="" href="http://wiki.hackuarium.ch/w/Main_Page">
            <small>The lab</small>
        </a>
      </div>
      </div>
    </div>
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'">Objectives:
          <br><small class="text-muted">We had three objectives relative to water sampling and there was also a desire to explore methods of collaboration</small></h6>
          <button class="btn bg-info text-white border-white text-left" style=""  role="button" data-toggle="modal" data-target="#micro-objectives-modal" aria-expanded="false" aria-controls="">
          Objectives</button>
      </div>
    </div>
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="mb-2" style="font-family:'Montserrat'">Analysis of environmental and economic factors:<br>
            <small class="text-muted">How do they influence the quantity of E.coli in lakewater?</small></h6>
            <div class="btn-toolbar">
              <button class="btn bg-info text-white  p-1 border-white" style="" role="button" data-toggle="modal"  data-target="#jazz-modal" aria-expanded="false">
                Large events
              </button>
              <button class="btn bg-info text-white p-1 border-white" style="" role="button" data-toggle="modal"  data-target="#hotel-nights-modal" aria-expanded="false" aria-controls="table-of-results">
                Population
              </button>
              <button class="btn bg-info text-white border-white text-left" style="" role="button" data-toggle="modal"  data-target="#rain-modal" >
                Precipitation
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
