{% extends "dirt/hd_base.html" %}


{% load static %}
{% block templateComments %}
<!--
Variables called:
reasons_why.html
analysis.html
projects_history.html
summary_table.html
map_search.html
charts_scatter.html
total_inventory.html
top_ten_code_material.html
box_one.html
list_of_lakes_rivers.html
locations_samples.html
data_search.html
measuring_modal.html
data_download.html
mcbp_one_modal.html
mcbp_two_modal.html
mcbp_three_modal.html
mcbp_four_modal.html
probability_modal.html
swiss_lakes_modal.html
survey_map.html
combined_scatter.html
probability_scatter.html
probability_dist.html

-->
{% endblock %}
{% block og_data %}
{% load static %}
<title>Beach litter</title>
<!-- Open Graph Data -->
<meta property="og:title" content="hammerdirt" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://mwshovel.pythonanywhere.com/dirt/beach_litter.html" />
<meta property="og:image" content= "{% static 'images/index_og_image.jpg' %}" />
<meta property="og:image:width" content="1100" />
<meta property="og:image:height" content="680" />
<meta property="og:description" content="hammerdirt, math, trash and water.  Answering that burning question: 'What is the probability of garbage ?'.  Beach litter data for freshwater systems in Switzerland and California. Maps, graphs summary data and analysis for each location in the data-base." />
<meta property="og:site_name" content="Beach litter home" />
{% endblock %}
{% block style %}{% endblock %}
{% block loader %}
<!--
This is the load spinner and the
div that centers it, they are both made
inivisible when the map is finished loading
-->
<div id="loading2" class="cn">
  <div id="loading" class="spinner"><strong></strong></div>
</div>
{% endblock %}
{% block content  %}{% load humanize %}{% load static %}
<div id="" class="container-fluid p-0 m-0" style="width:100%; ">
  <div class="row no-gutters" id="" style="">
    <div class="col-sm" id="" style="min-width:400px;">
         {% include 'dirt/reasons_why.html' %}
    </div>
    <div class="col-sm" id="" style="min-width:400px;">
      {% include 'dirt/analysis.html' %}
    </div>
    <div class="col-sm" id='' style="min-width:400px;">
      {% include 'dirt/projects_history.html' %}
    </div>
  </div>
  <div class="row no-gutters" id="combined-data-row" style="">
    <div class="col-sm h-100" id="data-summary-column" style="min-width:400px;">
      {% include 'dirt/summary_table.html' %}
    </div>
    <div class="col-sm h-100" id="map-search-column"  style="min-width:400px;">
      {% include 'dirt/map_search.html' %}
    </div>
    <div class="col-sm h-100" id="charts-column"  style="min-width:400px;" >
      {% include 'dirt/charts_scatter.html' %}
    </div>
  </div>
  <div class="row no-gutters bg-dark mt-1">
    <p class="text-white"> We have grants for organizations with unfunded requirements. Contact us for more information.</p>
  </div>
</div>
  {% include 'dirt/total_inventory.html' %}
  {% include 'dirt/top_ten_code_material.html' %}
  {% include 'dirt/box_one.html' %}
  {% include 'dirt/list_of_lakes_rivers.html' %}
  {% include 'dirt/locations_samples.html' %}
  {% include 'dirt/data_search.html' %}
  {% include 'dirt/measuring_modal.html' %}
  {% include 'dirt/data_download.html' %}
  {% include 'dirt/mcbp_one_modal.html' %}
  {% include 'dirt/mcbp_two_modal.html' %}
  {% include 'dirt/mcbp_three_modal.html' %}
  {% include 'dirt/mcbp_four_modal.html' %}
  {% include 'dirt/probability_modal.html' %}
  {% include 'dirt/swiss_lakes_modal.html' %}
  {% include 'dirt/open_acces_modal.html' %}
  {% include 'dirt/reading_modal.html' %}
{% endblock %}
{% block buttons %}
<!--
These are the scripts that control the popover for
the sponsor and participant icons in the data summary
-->
<script type="text/javascript">
  var popOverClose = '<button onclick="$(this).closest(\'div.popover\').popover(\'hide\');" type="button" class="close" aria-hidden="true">&times;</button>'
</script>
{% for x in sponsors %}
<script type="text/javascript">
  $('#{{ x.0|slugify }}').popover({
      container: 'body',
      title:"<a href='{{ x.2 }}'> {{ x.0 }}</a>",
      content:'{{ x.3 }}'+ popOverClose,
      placement:'top',
      trigger:'click',
      });
</script>
{% endfor %}
{% for x in crew %}
<script type="text/javascript">
  $('#{{ x.0|slugify }}').popover({
      container: 'body',
      title:"<a href='{{ x.2 }}'> {{ x.0 }}</a>",
      content:'{{ x.3 }}'+ popOverClose,
      placement:'top',
      trigger:'click',
      });
</script>
{% endfor %}
{% endblock %}
{% block charts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% include 'dirt/survey_map.html' %}
{% include 'dirt/combined_scatter.html' %}
{% include 'dirt/probability_scatter.html' %}
{% include 'dirt/probability_dist.html' %}
{% endblock %}
