{% extends "dirt/temp_one.html" %}

{% block style %}
.modal-lg {
  width:80% !important;
}
p, ul {
  font-size:0.875em;
}
li {
  font-size:14px;
}
.txt-12 {
  font-size: 12px;
}
.bg-black {
  background-color: #000000;
}

.bg-red {
  background-color: rgb(199, 31, 22);
  background-color: rgba(199, 31, 22, 1);

}

.txt-14 {
  font-size: 14px;
}
.wide-88 {
  width:88px;
  height:88px;
}
.m-w-376{
  min-width: 376px;
}


.col-sm, .col-sm-4 {
  padding: 2px;
  min-width: 380px;


{% endblock %}


{% block content  %}
{% load humanize %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12" style="">
      <div class="p-2">
        <h5 class="">hammerdirt beach-litter : background</h5>
      </div>
      <div class="p-2">
        <p>If you don't know the story please read below</p>
      </div>
      <div id="accordion" class="w-100" role="tablist">
        <div class="card pb-0 m-w-376" id="">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="modal"  data-target="#bl_30" aria-expanded="false" aria-controls="table-of-results">
              Measuring beach litter
            </a>
          </div>
        </div>
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#mcbp-1" aria-expanded="false" aria-controls="table-of-results">
              MCBP-1 2014-2015
            </a>
          </div>
          <div class="collapse " id="mcbp-1" data-parent="#accordion">
            <div class="card-body p-1 w-100">
              <h5> Introduction </h5>
              <p>The first project "Montreux Clean Beach" or MCBP-1 was initiated by Shannon and Roger Erismann in 2014.  After one year of collecting trash in the region
                 of Montreux, Switzerland our conclusion was that the shores of Lake Geneva were covered with a uniform mix of cigarette butts, broken plastics, crushed styrofoam and qtips.
               </p>
               <p>The results were documented and presented to municpal, regional and national authorities in the form of a report detailing location, quantity and frequency.</p>
               <p>The document:<br>
                 <a href="https://drive.google.com/open?id=0BzPFamJgOYe1ZXExVFJ0cFZnRmM"> Under our feet, at the waters edge</a><br>
                 (link to document on GoogleDrive)
               </p>
               <p>Although not a scientific report, this document was a launchpad for the second MCBP, and guided (guides) research into topics such as:
                 <ul>
                   <li>Aquatic litter, >Citizen Science</li>
                   <li>National and international legislaltion</li>
                   <li>Water quality, Microbiology</li>
                   <li>Data science, Data visualization</li>
                   <li>Programing(python, js, react, java)</li>
                   <li>Network communications</li>
                 </ul>
               </p>
            </div>
          </div>
        </div>
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#mcbp-2" aria-expanded="false" aria-controls="table-of-results">
              MCBP-2: 2015-2016
            </a>
          </div>
           <div class="collapse " id="mcbp-2" data-parent="#accordion">
             <div class="card-body p-1 w-100">
               <p>
                 MCBP-2 was started in November 2015, following the <a href="https://www.ospar.org/work-areas/eiha/marine-litter">OSPAR</a>
                  and <a href="https://www.eea.europa.eu/themes/water/europes-seas-and-coasts/marine-litterwatch">Marine Litter Watch</a>(MLW)
                  protocols. Centered in the region of Montreux, over 100 litter inventories were conducted in 12 months (52 inventories within the city limits of Montreux)
                  each inventory detailed the following:
                  <ul>
                     <li>Object found</li>
                     <ul>
                       <li>Quantity</li>
                       <li>MLW Classification</li>
                       <ul>
                         <li>Description</li>
                         <li>Material composition</li>
                       </ul>
                     </ul>
                     <li>GPS coordinates</li>
                     <li>Length of shoreline</li>
                   </ul>
               </p>
                 <p>The results were documented using the <a href="http://www.kobotoolbox.org/">Open-Data-Kit (Kobo-Collect)</a> and were made availbale to the public on our Google-Drive</p>
                 <p>MCBP-2 produced two documents:
                   <ul>
                     <li> <a href="https://drive.google.com/open?id=0BzPFamJgOYe1RFJmR01qeWZtQWc">The ln(beach-litter-density)</a></li>
                     <ul>
                       <li>Compares results from MCBP-2 to other OSPAR regions</li>
                       <li>Compares results fromt the EPFL stduy in 2014</li>
                       <li>Expresses trash as a value of pcs/m </li>
                     </ul>
                     <li> <a href="https://drive.google.com/open?id=0BzPFamJgOYe1S2R4WC01cDBlQzg">Annex-B</a></li>
                     <ul>
                       <li>Comparative analysis of results</li>
                       <li>Regression of pcs/m against river discharge rates</li>
                       <li>Identification of most common items found</li>
                       <li>Expression of pcs/m as a probability mass function</li>
                     </ul>
                   </ul>
                   The results were presented to municipal, regional and national authorities.
                 </p>
             </div>
           </div>
        </div>
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#mcbp-3" aria-expanded="false" aria-controls="table-of-results">
              MCBP-3: 2017-2018
            </a>
          </div>
           <div class="collapse " id="mcbp-3" data-parent="#accordion">
             <div class="card-body p-1 w-100">
              <p>MCBP-3 marks a departure from the hammerdirt role as volunteer trash collectors.  We decided to focus on one area of operations to increase efficiency,
                reduce costs and develop B2B services that are in short supply:
                <ul>
                  <li> Automation of data handling</li>
                  <ul>
                    <li>Develop our own app for logging data</li>
                    <li>Automate standard data analysis</li>
                    <li>Automate standard data visualisations</li>
                    <li>Automate the update procedures for web and app</li>
                  </ul>
                  <li>Specifically we focussed on the following programing languages/platforms:</li>
                  <ul>
                    <li> Python (django, pandas, scikit-learn, matplotlib, numpy, et all...)</li>
                    <li> HTML5/CSS -- frameworks </li>
                    <li> JavaScript (Highcharts, D3, jQuery, react, react-native, nodeJs)</li>
                    <li> Java (android), MySQL, linux(shell) </li>
                  </ul>
                </ul>

              </p>
              <p>The time investment was offset by a reduction in software subscription costs, computer hardware investments, time spent generating reports and an overall improvement in reporting and analysing data.
              </p>
             </div>
           </div>
        </div>
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#mcbp-4" aria-expanded="false" aria-controls="table-of-results">
              MCBP-4: NOT!!
            </a>
          </div>
          <div class="collapse " id="mcbp-4" data-parent="#accordion">
            <div class="card-body p-1 w-100">
              <p>
                There will be no furhter MCBP projects. The development of our platform elimnates the need for a project based approach
                to aquatic litter monitoring in the area.
              </p>
              <p>
                Litter surveillance will continue. However, there are other projects that are of more interest to hammerdirt and could have a better cost to value ratio.
              </p>
            </div>
          </div>
        </div>
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#slr" aria-expanded="false" aria-controls="table-of-results">
              The Swiss Litter Report
            </a>
          </div>
           <div class="collapse " id="slr" data-parent="#accordion">
             <div class="card-body p-1 w-100">
               <p>
                 The Swiss Litter Report(SLR) is a project by <a href="http://stoppp.org/swiss-litter-report">STOPPP</a> and <a href="https://www.wwf.ch/de">WWF Switzerland</a>. WWF and STOPPP volunteers monitor over 100 sites across Switzerland.
               </p>
               <p>
                The methods used by the SLR produce comparable data to the MCBP series and when both data sets are considered a national baseline
                for shoreline litter can be established.
               </p>
             </div>
           </div>
        </div>
        <div class="card pb-0 m-w-376" id="">
            <div class="card-header bg-info text-white " id="" style="">
              <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#why" aria-expanded="false" aria-controls="table-of-results">
                SLR/MCBP whats the difference ?
              </a>
            </div>
            <div class="collapse " id="why" data-parent="#accordion">
              <div class="card-body p-1 w-100">
                <p>
                  There are a couple of differences:
                  <ul>
                    <li>Most of the samples from MCBP were collected by three people, the SLR has hundreds of volunteers</li>
                    <li>MCBP was started by two people in response to repeated observations in their own community.  The SLR is a project iniated by
                      a large organization and administered from the top down</li>
                    <li>*MCBP counts every item found with no lower size limit(OSPAR), SLR has a lower size limit of 2.5cm(MLW)</li>
                  </ul>
                </p>
                <p>*We believe that this accounts for the difference in the probability distribution of the two projects</p>
              </div>
            </div>
        </div>
        <div class="card pb-0 m-w-376" id="">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#samples" aria-expanded="false" aria-controls="table-of-results">
              How does repeated sampling effect litter quantity ?
            </a>
          </div>
           <div class="collapse " id="samples" data-parent="#accordion">
             <div class="card-body p-1 w-100">
               <div id="by_sample_no" style="width:100%;"></div>
               <p>
                 It appears that repeated sampling has a positive effect on the environment: the more often you go the less you find.
               </p>
               <p>
                 However there is some more work to do in this analysis, this could be do to the fact that people are more likely to repeat the process when
                 the workload is lighter or the locations with the most samples are also maintained by municipal authorities.
               </p>
             </div>
           </div>
        </div>
        <div class="card-block justify-content-center pb-0 pt-1">
          <div class="btn mx-auto wide-88 d-inline-flex  align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14" href="{% url 'mcbp_home' %}">
              MCBP <br>
              Results
            </a>
          </div>
          <div class="btn mx-auto wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14" href="{% url 'slr_home' %}" aria-expanded="false">
              SLR<br>
              Results
            </a>
          </div>
          <div class="btn mx-auto wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14" href="#" aria-expanded="false">
              Your<br>
              Research
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style="">
      <div id="accordion2" class="w-100" role="tablist">
        <div class="card pb-0 m-w-376" id="data-summary">
          <div class="bg-info text-white card-header" id="" style="">
            <a class="bg-info text-white" data-toggle="collapse" data-parent="#accordion2" data-target="#summary" aria-expanded="false" aria-controls="links">
              <i class="fa fa-th fa-lg"></i>&nbsp; Combined data summary SLR-MCBP :
            </a>
          </div>
          <div class="collapse show container-fluid m-1 w-100" data-parent="#accordion2" style="" id="summary">
            <div class="card-body p-1 mb-1 mt-1 justify-content-end bg-red w-100">
              <div class="d-flex flex-row justify-content-end p-0 bg-red w-100">
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">N<sup>o</sup> of Samples</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 " >
                   <p class="text-white p-0 m-0" > {{ summary.num_samps|floatformat:0|intcomma }}</p>
                  </div>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">Total pieces </p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                    <p class="text-white p-0 m-0"> {{ summary.total|floatformat:0|intcomma }}</p>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end p-0 bg-red">
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">First sample</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 ">
                   <p class="text-white p-0 m-0">{{ summary.first|date:"M Y" }}</p>
                  </div>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">Latest sample</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                    <p class="text-white p-0 m-0">{{ summary.last|date:"M Y" }}</p>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end p-0 bg-red">
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0 " >Average pcs/m</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 ">
                   <p class="text-white p-0 m-0" > {{ summary.ave_dense|floatformat:1 }} pcs/m <small> (not weighted) </small></p>
                 </div>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black" >
                  <p class="text-white p-0 m-0">Range pcs/m</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0"> {{ summary.min_dense|floatformat:1 }} - {{ summary.max_dense|floatformat:1 }} pcs/m</p>
                </div>
               </div>
              </div>
              <div class="d-flex flex-row justify-content-end p-0 bg-red">
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">Standard deviation</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                   <p class="text-white p-0 m-0"> {{ summary.stan_dev|floatformat:2 }} pcs/m</p>
                  </div>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">Innerquartile</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                    <p class="text-white p-0 m-0"> {{ summary.iqr|floatformat:1 }} pcs/m</p>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end p-0 bg-red">
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">25<sup>th</sup> percentile</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                   <p class="text-white p-0 m-0"> {{ summary.two_five|floatformat:1 }} pcs/m</p>
                  </div>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 w-50">
                  <div class="d-sm-inline-flex p-1 bg-black">
                    <p class="text-white p-0 m-0">75<sup>th</sup> percentile</p>
                  </div>
                  <div class="d-sm-inline-flex flex-column p-1 m-0">
                    <p class="text-white p-0 m-0"> {{ summary.seven_five|floatformat:1 }} pcs/m</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-black text-center text-white">
                <a class="text-white" role="button" data-toggle="modal" data-target="#map-modal" aria-expanded="false" aria-controls="table-of-results">
                  Show map of all results
                </a>
              </div>
            </div>
            <div>
              <p>
              SLR Data is downloaded from the <a href="http://discomap.eea.europa.eu/map/fme/MLWPivotExport.htm">Marine Litter Watch data service</a>,
               using the community code "motdu".
              </p>
              <p>
                MCBP Data can be downloaded <a href="https://drive.google.com/open?id=1XL1-_rSHsX6nwPnUNVEQB76PkIvkGn--">here</a>
            </div>
          </div>
        </div>
       <div class="card pb-0 m-w-376" id="goals-objectives">
         <div class="card-header bg-info text-white " data-parent="#accordion2" id="" style="">
           <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#histo" aria-expanded="false" aria-controls="table-of-results">
             <i class="fa fa-bar-chart fa-lg "></i>&nbsp; Histogram of results
           </a>
         </div>
         <div class="collapse " id="histo" data-parent="#accordion2">
           <div class="card-body p-1 w-100">
             <div id="slr-hist" style="width:100%;"></div>
             <div>
               <p>
                 The results from MCBP fall within the disribution of the SLR.
               </p>
               <p>
                 This is expected and encouraging.  This means two independent groups came up with similar results.  When compared to the values for lakes in the
                 SLR project the MCBP results are within the limits of the SLR.
               </p>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div id="accordion3" class="w-100" role="tablist">
        <div class="card pb-0 m-w-376" id="goals-objectives">
          <div class="card-header bg-info text-white " data-parent="#accordion3" id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#bplot" aria-expanded="false" aria-controls="">
              <i class="fa fa-line-chart fa-lg"></i>&nbsp; Survey results lakes v/s rivers
            </a>
          </div>
          <div class="collapse show " id="bplot" data-parent="#accordion3">
            <div class="card-body p-1 w-100">
              <div class="w-100" id="box-plot"></div>
              <div class="card-footer bg-info text-center">
                <a class="bg-info text-white" role="button" data-toggle="modal" data-target="#inventory" aria-expanded="false" aria-controls="">
                  Make this chart bigger
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block row justify-content-center pb-0 pt-1">
        <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
          <a class="text-white txt-14 " data-toggle="modal"  data-target="#print-it" aria-expanded="false">
            Printable
            <br>
            <i class="fa fa-download fa-lg mt-2 mb-1"></i>
            <br>Report
          </a>
        </div>
        <div class="modal" id="print-it">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <div class="mx-auto text-center">
                  <p class="">This is not a free service.</p>
                </div>
              </div>
              <div class="modal-body">
                <p class="txt-14">If you would like a detailed report, charts, or a summary contact us.</p>
                <p class="txt-14">Prices start at CHF/USD/EUR 350</p>
                <p class="txt-14">Other options:
                  <ul>
                    <li>Charts</li>
                    <li>Summary data </li>
                    <li>Analysis</li>
                    <li>Compare with other data sets</li>
                    <li>Integrate other independent variables</li>
                    <li>Can be in any format</li>
                    <li>Executable scripts</li>
                    <li>Plus many more options </li>
                  </ul>
                </p>
                <p> See the services section for more information.</p>
              </div>
              <div class="modal-footer bg-dark">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
          <a class="text-white txt-14" data-toggle="modal"  data-target="#get-it" aria-expanded="false">
            Project
            <br>
            <i class="fa fa-download fa-lg mt-2 mb-1"></i>
            <br>
            data
          </a>
        </div>
        <div class="modal" id="get-it">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content bg-dark">
              <div class="modal-body text-white">
                <p class="mx-auto">All of the data used for this section is available in our public download folder:</p>
                <h3 class="text-center text-white"><a class="text-white" href="https://drive.google.com/drive/folders/1XL1-_rSHsX6nwPnUNVEQB76PkIvkGn--?usp=sharing">Right here</a></h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
          <a class="text-white txt-14 " href="https://twitter.com/share?ref_src=twsrc%5Etfw"  data-via="hammerdirt" data-show-count="false" aria-expanded="false">
            <i class="fa fa-share-alt fa-lg mb-1"></i><br> Tweet
          </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
          <a class="text-white txt-14 "data-toggle="modal"  data-target="#get-us" aria-expanded="false">
            <i class="fa fa-comment fa-lg mb-1"></i><br> Contact
          </a>
        </div>
        <div class="modal" id="get-us">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body bg-dark">
                <div class="mx-auto text-center text-white">
                  <p class="">Want to know more ?</p>
                  <p class="">Send us an email:<br><br>info [at] hammerdirt.ch</p>
                </div>
              <div class="modal-footer">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bl_30">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Measuring beach litter<br>
          <small class="text-muted"> For a list of further reading on the subject see the bibliography section of the MCBP results.</small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Beach litter density is the measure of trash on a fixed length of beach or shoreline.
        </p>
        <p>
          All visible trash is collected, the individual objects are identified and sorted using an international protocol.  This process is repeated multiple times per year
          at the same location. In Europe the two most important protocols are OSPAR and Marine Litter Watch.
        </p>
         <p>
           Research has connected 80% of marine debris to landbased activities.  However there has never been a national survey of aquatic litter in freshwater environements
           that uses similar methods.  Untill now.
         </p>
         <p>
           Combined, the SLR and MCBP have over 1000 samples from 135 locations across the country.  Establishing both a baseline and identifying the objects most frequently found
           in the environment.
         </p>

      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100" id="inventory">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Beach-litter densities 2015-2018 rivers vs. lakes : SLR & MCBP<br>
          <small class="text-muted"> Click and drag to zoom date, enable/disable groups in the legend </small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div id="box-plot2" style="width:100%;"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-4">
      <div class="modal-header ">
        <h5 class="modal-title ">Combined litter densities 2015-2018 : SLR and MCBP<br>
          <small class="text-muted ">Click on symbol for summary information, circle size relative to average pcs/m </small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="map" class="mx-auto p-2"style="height:540px;"></div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}

{% block charts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>





<script type="text/javascript">

var plot_data = {{ plot_density|safe }};
var mc_plot = {{ plot_mc|safe }};
var slr_hist = {{ slr_hist|safe }};
var mc_hist = {{ mc_hist|safe }};
var river = {{ rivers|safe }}
var lake = {{ lakes|safe }}
var box_lake = {{ box_lake|safe }}
var box_river = {{ box_river|safe }}
var box_cats = {{ box_cats|safe }}
var box_mc = {{ box_mc|safe }}
var combined_map = {{ combined_map|safe}}




var ts_plot = [];
plot_data.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element.location_id, "x":element.date, "y":element.density});
  }
});

var slr_plot_len = ts_plot.length;
var slr_plot_sub = 'N = '+slr_plot_len +' samples, as reported by volunteers.'

var plot_mc = [];
mc_plot.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  plot_mc.push ({"name":element.location_id, "x":element.date, "y":element.density})
});
var mc_plot_len = plot_mc.length;
var total_samps = mc_plot_len + slr_plot_len
var combined_title = 'Litter densities 2015-2018: MCBP and SLR, n= '+ total_samps
var combined_sub_title = 'SLR samples: '+ slr_plot_len + ', MCBP samples: '+mc_plot_len

var sample_plot = [];

plot_data.forEach(function(element){
  element.sample = parseFloat(element.sample);
  element.density = parseFloat(element.density);
  if (element.sample < 17) {
    sample_plot.push({"name":element.location_id, "x":element.sample, "y":element.density});

  }
});

var mcbp_sample = [];

mc_plot.forEach(function(element){
  element.sample = parseFloat(element.sample);
  element.density = parseFloat(element.density);
  mcbp_sample.push({"name":element.location_id, "x":element.sample, "y":element.density});

});

var riv_dens = []
river.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  riv_dens.push ({"name":element.location_id, "x":element.date, "y":element.density})
});

var lak_dens = []
lake.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  lak_dens.push ({"name":element.location_id, "x":element.date, "y":element.density})
});

function compare(a,b) {
  let comparison = 0;
  if (a.sample > b.sample) {
    comparison =1;
  }else if (a.sample < b.sample) {
    comparison = -1;
  }
  return comparison;
};

sample_plot.sort(compare);
mcbp_sample.sort(compare);
</script>

<script type="text/javascript">
Highcharts.chart('box-plot', {

    chart: {
        type: 'boxplot',
        zoomType:'x',
        spacingBottom: 20,
    },
    exporting: {
      enabled:false,
    },

    title: {
        text: 'Reported beach-litter densities 2015-2018 sorted by rivers and lakes : SLR & MCBP',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: 'Values greater than 50 pcs/m not shown, ' + combined_sub_title,
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },

    legend: {
      enabled: true,
      verticalAlign: 'bottom',
      align: 'center',
      layout:'horizontal',
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .4)',
      borderWidth:1,
      padding:8,
      margin:12,
      itemMarginBottom:2,
      itemDistance: 4,
      itemWidth:99,
      itemStyle:{
        color: 'black',
        fontSize: '10px',

      },
    },
    plotOptions:{
      boxplot:{

        stemColor:'rgb(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },

    xAxis: [{
        categories:box_cats,
        type: 'category',
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,

    },{
      type: 'datetime',
      opposite:true,
      visible:false,
      alignTicks:true,
      tickInterval:3600*1000*24*28,
      tickColor:'rgba(00, 00, 00, 1)',
      labels: {
        enabled: false,
        style: {
          color:'rgba(00, 00, 00, 1)',
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %y',
      },
    },
  ],
    yAxis: {
      min:0,
      max:85,
      ceiling:50,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },

    series:
    [{
      zIndex:3,
      fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'SLR lakes - monthly',
      data: box_lake,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:3,
      fillColor:'rgba(10, 46, 92, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(10, 46, 92, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'SLR rivers - monthly',
      data: box_river,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:3,
       fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      squareSymbol: true,
      xAxis:0,
      type: 'boxplot',
      name: 'MCBP - monthly',
      data: box_mc,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'SLR - lake',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(215, 78, 9, .4)',
        lineWidth:1,
      },
      data:lak_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'SLR - river',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(10, 46, 92, .4)',
        lineWidth:1,
      },
      data:riv_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'MCBP - lake',
      marker: {
         symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(215, 78, 9, .4)',
        lineWidth:1,
      },
      data:plot_mc,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },

    }

    ]

});
</script>
<script type="text/javascript">
Highcharts.chart('box-plot2', {

    chart: {
        type: 'boxplot',
        zoomType:'x',
        spacingBottom:20
    },
    title: {
      text: null,
    },
    exporting:{
      enabled: false,
    },
    credits:{
      text:'hammerdirt 2018',

    },

    legend: {
      enabled: true,
      verticalAlign: 'bottom',
      align: 'center',
      layout:'horizontal',

      backgroundColor:'rgb(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .4)',
      borderWidth:1,

      padding:8,
      margin:12,

      itemMarginBottom:2,
      itemDistance: 4,
      itemWidth:99,
      itemStyle:{
        color: 'black',
        fontSize: '10px',

      },
    },
    plotOptions:{
      boxplot:{

        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },

    xAxis: [{
        categories:box_cats,
        type: 'category',
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,

    },{
      type: 'datetime',
      opposite:true,
      visible:false,
      alignTicks:true,
      tickInterval:3600*1000*24*28,
      tickColor:'rgba(00, 00, 00, 1)',
      labels: {
        enabled: false,
        style: {
          color:'rgb(00, 00, 00, 1)',
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %y',
      },
    },
  ],
    yAxis: {
      min:0,
      max:85,
      ceiling:50,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter of shoreline',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },

    series:
    [{
      zIndex:3,
      fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'SLR lakes - monthly',
      data: box_lake,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:3,
      fillColor:'rgba(10, 46, 92, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(10, 46, 92, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'SLR rivers - monthly',
      data: box_river,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:3,
      fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      squareSymbol: true,
      xAxis:0,
      type: 'boxplot',
      name: 'MCBP - monthly',
      data: box_mc,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'SLR - lake',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(215, 78, 9, .4)',
        lineWidth:1,
      },
      data:lak_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'SLR - river',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(10, 46, 92, .4)',
        lineWidth:1,
      },
      data:riv_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'MCBP - lake',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(215, 78, 9, .4)',
        lineWidth:1,
      },
      data:plot_mc,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },

    }

    ]

});
</script>
<script type="text/javascript">
Highcharts.chart('by_sample_no', {
    chart: {
        type: 'area',
        spacingBottom:20,
        plotBorderWidth:0,
        zoomType: 'x',
        style: {
          fontFamily: 'sans-serif',
        }
    },
    title: {
        text: 'Litter densities v/s Number of samples',
        style:{
          fontSize: '16px',
          color:'#0A2E5C',

        },
    },
    exporting: {
      enabled:false,
    },
    subtitle: {
        text:combined_sub_title,
        style:{
          fontSize: '12px',
          color:'#0A2E5C',

        },
    },
    credits:{
      text:'hammerdirt 2018',

    },
    legend: {
      enabled: false
    },
    xAxis: {
      tickInterval:1,
      title: {
        text: 'Number of samples',
        style:{
          fontSize:'14px',
          color:'#000000',
        },
      },
      labels: {
        style: {
          color:'rgba(00, 00, 00, 1)'
        }
      },

    },
    yAxis: {
        title: {
            align: 'low',
            offset: 40,
            text: 'Pieces of trash per meter of shoreline',
            style:{
              fontSize: '12px',
              color:'#000000',
            },
        },
        gridLineColor:'rgba(10, 46, 92, .1)',
        labels:{
          style: {
            color:'rgba(00, 00, 00, 1)'
          }
        },
        tickInterval: 8,
        min: 0,
        max: 52,
    },
    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: 'sample no: {point.x}, pcs/m: {point.y:.2f}'
    },
    series: [{
      zIndex:3,
      type: 'scatter',
      name:'mcbp',
      marker: {
        symbol: 'circle',
        radius:6,
        fillColor: 'rgba(159, 183, 159, 1)',
        lineColor: 'rgba(00, 00, 00, 1)',
        lineWidth:2,
      },
      data:mcbp_sample,

    },{
      zIndex:3,
      type: 'scatter',
      name:'slr',
      marker: {
        symbol: 'circle',
        radius:6,
        lineColor: 'rgba(10, 46, 92, 1)',
        fillColor:  'rgba(22, 199, 158, 1)',
        lineWidth:2,
      },
      data:sample_plot,

    }
  ],
  }
);
</script>

<script type="text/javascript">
Highcharts.chart('slr-hist', {
    chart:{
      spacingBottom:20
    },
    title: {
        text: 'Histogram of results MCBP/SLR'
    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    xAxis: [{
        title: {
          text: 'ln(pcs/m)',
          style:{
            fontSize:'14px',
            color:'#000000',
          },
         },
        alignTicks: false,
    },
  ],

    yAxis: [{
        title: {
          text: 'Number of observations SLR',
          style:{
            fontSize:'14px',
            color:'rgba(22, 199, 158, 1)',
          },

        },
        labels:{
          style:{
            color:'rgba(22, 199, 158, 1)',
          }
        }
    }, {
        title: {
          text: 'Number of observations MCBP',
          style:{
            fontSize:'14px',
            color:'rgba(159, 183, 159, 1)',
          },
         },
        labels:{
           style:{
             color:'rgba(159, 183, 159, 1)',
           },
         },
        opposite: true
    }],
    legend: {
      enabled: true,
      verticalAlign: 'bottom',
      horizontalAlign: 'center',
      layout:'horizontal',
      floating:false,
      // x:-100,
      // y:60,
      backgroundColor:'rgb(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:1,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: 14,
        fontWeight: 'bold',
      }
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: 'min ln(pcs/m): {point.x: .2f}, # of samples: {point.y}'
    },

    series: [{
        name: 'ln(pcs/m) -- SLR',
        type: 'histogram',
        xAxis: 0,
        yAxis: 0,
        binsNumber:'rice',
        borderColor: 'rgba(10, 46, 92, .5)',
        color:  'rgba(22, 199, 158, .6)',
        lineWidth:2,
        baseSeries:  1,
        zIndex: -1
    },
    {
        data: slr_hist,
        visible:false,
        showInLegend:false,

    }, {
        name: 'ln(pcs/m) -- MCBP',
        type: 'histogram',
        xAxis: 0,
        yAxis: 1,
        binsNumber:'sturges',
        borderColor:'rgba(00, 00, 00, .5)',
        color:  'rgba(159, 183, 159, .6)',
        lineWidth:2,
        baseSeries:  3,
        zIndex: -1
    },{
        data: mc_hist,
        visible:false,
        showInLegend:false,

    },
  ]
});

</script>

<script type="text/javascript">
var map;
var styledMapType;

function initMap() {
  styledMapType = new google.maps.StyledMapType(
    [
    {
      "featureType": "administrative",
      "elementType": "geometry",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "administrative.locality",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#313026"
        }
      ]
    },
    {
      "featureType": "administrative.locality",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#313026"
        }
      ]
    },
    {
      "featureType": "administrative.neighborhood",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels.icon",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.arterial",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.local",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "transit",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#00cdff"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    }
  ],
{name:'Litter densities : Switzerland'});
  map = new google.maps.Map(document.getElementById('map'), {
    zoom:8,
    center: {lat: 47.207, lng: 8.058},
    minZoom:8,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,


  });

  var infowindow = new google.maps.InfoWindow();
  var marker, i, scayle, contentString;
  var markers = []

  for (i = 0; i < combined_map.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(combined_map[i][0], combined_map[i][1]),
      map: map,
      type: combined_map[i][7],
      water: combined_map[i][8],


      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: Math.sqrt(combined_map[i][2])*5,
        fillColor: '#000000',
        strokeColor: '#ffff00',
        fillOpacity:0.7,
        strokeOpacity:0,
      },


    });
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  combined_map[i][6] + '</p>'+
    '<ul><li>City: ' + combined_map[i][4] +'</li><li> Postal Code: ' + combined_map[i][3] + '</li><li>Average pcs/m: ' + combined_map[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    combined_map[i][5] + '</li><li>Lake or River: ' + combined_map[i][8] + '</li><li>Project : ' + combined_map[i][7] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));


    markers.push(marker);
  };
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');

  };

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&libraries=visualization&callback=initMap"  async defer> </script>


{% endblock %}
