
<!--
Variables called:


-->

<div class="modal fade" id="box_one">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Beach-litter densities {{ summary.3 }} - {{ summary.4 }}<br>
          <small class="text-white"> Click and drag to zoom date, enable/disable groups in the legend </small>
        </h5>
        <button type="button" class="close align text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="box_plot_one" style="width:100%; min-width:500px"></div>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
