
<!--
Variables called:
calls scatter_plot_two
the date parser is incldued with script
-->
{% load static %}
<script type="text/javascript">
var scatter_plot = {{ scatter_plot|safe}}
var total_scatter = {{ total_scatter|safe }}
var ts_plot = [];
scatter_plot.forEach(function(element){
  element.date = Date.parse(element[1]);
  element.density = parseFloat(element[2]);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element[0], "x":element.date, "y":element.density});
  }});
  var ts_plot_two = [];
  total_scatter.forEach(function(element){
    element.date = Date.parse(element[1]);
    element.density = parseFloat(element[2]);
    var today = new Date();
    if (element.date < today){
      ts_plot_two.push({"name":element[0], "x":element.date, "y":element.density});
    }
});

Highcharts.chart('combined-ts-two', {
    chart: {
        type: 'scatter',
        plotBorderWidth:0,
        spacingBottom: 20,
        zoomType: 'x',
        style: {
          fontFamily: 'sans-serif',
        }
    },
    title: {
        text: null,
        style:{
          fontSize: '16px',
          color:'#0A2E5C',
        },
    },
    credits:{
      text:'hammerdirt 2018',
    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'left',
      layout:'vertical',
      floating:true,
      x:-30,
      y:20,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:1,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: 14,
        fontWeight: 'bold',
      }
    },
    xAxis: {
      type: 'datetime',
      tickInterval:3600*1000*24*28*2,
      labels: {
        style: {
          color:'rgba(00, 00, 00, 1)'
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %Y',
      },
    },
    yAxis: {
        title: {
            align: 'low',
            offset: 40,
            text: 'Pieces of trash per meter of shoreline',
            style:{
              fontSize: '12px',
              color:'#000000',
            },
        },
        gridLineColor:'rgba(10, 46, 92, .1)',
        labels:{
          style: {
            color:'rgba(00, 00, 00, 1)'
          }
        },
        tickInterval: 8,
        min: 0,

    },
    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '{point.x:%e-%b}: {point.y:.2f} pcs/m'
    },
    plotOptions:{
      series: {
        turboThreshold: 2000
      }
    },
    series: [
      {
      zIndex:3,
      type: 'scatter',
      name:'{{ summary.13}}',
      marker: {
        symbol: 'circle',
        radius:6,
        lineColor: 'rgba(255, 00, 00, .8)',
        fillColor:  'rgba(255, 65, 168, .7)',
        lineWidth:1,
      },
      data:ts_plot,
      },
      {
      zIndex:2,
      type: 'scatter',
      name:'All other results',
      marker: {
        symbol: 'circle',
        radius:6,
        lineColor: 'rgba(10, 46, 92, .4)',
        fillColor:  'rgba(10, 46, 255, .3)',
        lineWidth:1,
      },
      data:ts_plot_two,
      },
  ],
})
</script>
