<!--
Variables called:
none
-->
<div class="card w-100 border-white" id="">
    <div class="card-body text-left" style="height:100%;font-family:'Montserrat'">
      <dl class="row">
        <dt class="col-sm-3">Selectvie for:</dt>
        <dd class="col-sm-9">E. coli, total coliforms, Salmonells spp and Aeromonas spp.</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9">
          ECA Check® is a clear medium containing a chromogenic substrate mixture.
          Enzymes specific to each of the four bacterial groups react with their specific
          chromogenic substrates to produce the colors that differentiate each bacterial type.
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Composition:</dt>
        <dd class="col-sm-9">
          Contains nutrients and chromogenic substrates. pH 7.2 ± 0.2
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Incubation time</dt>
        <dd class="col-sm-9">
          24-48 hrs at 35ºC. It is possible to take accurate readings at 24 hours incubation time.
          Colors will intensify and colony size will be larger at 36-48 hours.
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Interpretation of results</dt>
        <dd class="col-sm-9">
          <ul>
            <li>
              E. coli* colonies will have a dark blue/purple overall colony color.
            </li>
            <li>
              Non-fecal coliforms (Enterobacter, Citrobacter and Klebsiella spp. & others) are lighter blue/grey to purplish in color.
            </li>
            <li>
              Salmonella spp. appear as green/teal colonies.
            </li>
            <li>
              Aeromonas spp. are pink to very light pink.
            </li>
            <li>
              Gram-positive organisms are generally inhibited
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
