{% extends "dirt/hd_base.html" %}
{% load static %}
{% block og_data %}
  <title>Hammerdirt - home</title>
   <!-- Open Graph Data -->
   <meta property="og:title" content="hammerdirt" />
   <meta property="og:type" content="article" />
   <meta property="og:url" content="http://mwshovel.pythonanywhere.com/dirt/index.html" />
   <meta property="og:image" content="{% static 'images/prob_og.jpg' %}" />
   <meta property="og:image:width" content="1151" />
   <meta property="og:image:height" content="712" />
   <meta property="og:description" content="hammerdirt, helping you create knowledge.  A research partner that specializes in the development of data products for and from crowd sourced research projects." />
   <meta property="og:site_name" content="hammerdirt - home" />

{% endblock %}
{% block style %}
.col-sm{
  min-width:400px;

}
#link-one, #link-two, #link-three, #link-four, #link-five {
  text-decoration:underline;
  color: white;
}
{% endblock %}
{% block content  %}
{% load humanize %}
{% load static %}
<div class="container-fluid  p-0 " style="background-color:#464646; min-height:100vh">
  <div class="row no-gutters w-100" id="" style="background-color:#464646; min-height:100vh">
    <div class="col-sm h-100 mx-auto" id="" style="width:100%; background-color:#464646">
      <div class="p-1 pl-3 text-left" style="width:100%">
        <h1 class="display-4" style="color:#008080;">HAMMERDIRT</h1>
        <h5 style="color:#008080;">Believe what you see and take notes</h5>
      </div>
      <div class="p-2 mt-3 mr-2 text-left mx-auto text-white"  style="width:80%; background-color:#464646">
        <p style="font-family:'Montserrat';">
          Working with you to develop applications that collect and display data.
        </p>
        <p>
          <ul style="font-family:'Montserrat';">
            <li>In the field</li>
            <li>In the office</li>
            <li>We go where you go</li>
          </ul>
        </p>
        <p style="font-family:'Montserrat'">
          We work with Python, Django, Pandas, MySQL, Scipy, Bootstrap, D3, highcharts and linux(debian) everyday.
        </p>
      </div>
      <div class="p-1 pl-3 mt-3 mx-auto text-left text-white"  style="width:100%; background-color:#464646">
        <h1 class="" style="font-family:'Montserrat';color:#008080;">
          What can we build together?
        </h1>
        <p class="mt-4" style=""><small>Brought to you with love by hammerdirt.</small></p>
      </div>
      <div class="ml-auto mt-2 pr-3 text-right" style="width:90%">
        <h1 class="bg-transparent" style="color:#008080;">...anything</h1>
      </div>
    </div>

    <div class="col-sm h-100 mx-auto p-2 text-white" id="" style="background-color:#464646">
      <div class="container text-white p-2 pt-0" style="width:100%">
        <h4 class="" style="font-family:'Fredoka One', cursive;">New in this app: 23 Oct 18</h4>
        <br>
        <div class="container">
          <div class="d-inline rounded-circle border border-white text-center mr-1 mb-1 p-1" style="width:4vh; height:4vh;">
            &nbsp;1
          </div>
          <p class="d-inline" style="font-family:'Fredoka One', cursive;"> &nbsp; Testing the probability of garbage:</p>
          <p class="mt-2" style="font-family:'Montserrat';">This year students from the <a id="link-two" href="https://enac.epfl.ch/environmental-engineering"><strong>EPFL</strong></a> are testing the theory that litter density on the shores of
             Lac Léman is predictable. You can follow the work by using our interactive binder
              at mybinder.org : <a id="link-one" href="https://mybinder.org/v2/gh/hammerdirt/solidWaste2018/master"><strong>Binder</strong></a>. It takes a second or two to load
              but then you can use your own code and functions with the data from the api.
        </div>
        <div class="container mt-2">
          <div class="d-inline rounded-circle border border-white text-center mr-1 mb-1 p-1" style="width:4vh; height:4vh;">
            &nbsp;2
          </div>
          <p class="d-inline" style="font-family:'Fredoka One', cursive;"> &nbsp; Réseau Déchets Sauvages:</p>
          <p class="mt-2" style="font-family:'Montserrat';">We participated in the 3<sup>rd</sup> annual "Rencontres Nationales des Collecteurs de Déchets Sauvages" in Dieppe, France. It is a meeting of independent organizations that are trying to add value to the environment
            and those who activeley work to protect it.</p>
            <img src="{% static 'images/P1170335.JPG' %}" class="img-fluid" alt="Responsive image">

        </div>

      </div>
    </div>
    <div class="col-sm h-100" id='' style="background-color:#464646">
    <!--
    Variables called:
    latest_sample
    last_post
    last_read
    last_commit
    -->
      <div class="container text-white p-2" style="width:100%">
          <h4 class="" style="font-family:'Fredoka One', cursive;">Recent activity:</h4>
      </div>
      <div class="p-2 pb-0 mt-3 mr-2 mb-2 text-left float-right bg-light"  style="width:98%">
          <p style="font-family:'Montserrat'"><strong>Latest commit: &nbsp;<text id="date"></text> </strong><small>
            <br><strong>Repo:&nbsp; <text id="repo"></text>, Owner:&nbsp; <text id="who"></text></strong><br><strong>Comments: &nbsp;<text id="notes"></text></strong>
            <br><a id="urL" href=""><strong>check it</strong></a></small></p>
        </div>
      <div class="p-2 mt-3 mr-2 pb-0 text-left float-right bg-light" style="width:98%">
        <h6 style="font-family:'Montserrat'"><strong>Latest litter-survey:</strong><small>
          <br>{% for s in latest_sample %}<strong>City:</strong> {{ s.2 }},<strong> Location:</strong> {{ s.0 }},
          <br><strong>Date:</strong> {{ s.1 }},<strong> N<sup>o</sup> of pieces:</strong> {{ s.3 }}</small></h6>
          {% endfor %}
        <p class="pb-0 mb-0" style="font-family:'Montserrat'"><small><strong><a href="{{ see_latest }}"> see the results</a></strong></small></p>
      </div>
      <div class="p-2 pb-0 mt-3 mr-2 text-left float-right bg-light"  style="width:98%">
        <p style="font-family:'Montserrat'"><strong>Latest posts:</strong><small>
          <br><strong>Platform:</strong> {{ last_post.0 }}, Date: {{ last_post.1 }},
          <br><strong>Comments:</strong> {{ last_post.3 }}. <strong>Owner:</strong> {{ last_post.5 }}</small></p>
        <p class="pb-0 mb-0" style="font-family:'Montserrat'"><small><strong><a href="{{ last_post.4 }}"> check it</a></strong></small></p>
      </div>
      <div class="p-2 pb-0 mt-3 mr-2 text-left float-right bg-light"  style="width:98%">
        <p style="font-family:'Montserrat'"><strong>Latest reads:</strong><small>
          <br><strong>Title:</strong> {{ last_read.0 }}<br><strong>Author(s):</strong> {{ last_read.1 }},
          <br> {{ last_read.3|truncatewords:"30" }}... <br>Google that title to find out more  --> </small></p>
      </div>


  </div>
</div>
<div class="row no-gutters bg-dark mt-1">
  <p class="text-white p-2"> We have grants for organizations with unfunded requirements. Contact us for more information.</p>
</div>
</div>
{% endblock %}
{% block charts %}
<!--
The template 'body' tag is hidden durring loading
this makes it visible right away when index is called
-->
<script type="text/javascript">
    document.getElementById('hide-me').style.visibility='visible'
</script>
<script>
        var getLatest = function(){
        var request = new XMLHttpRequest();
        request.open('GET', 'https://api.github.com/users/hammerdirt/events');
        request.onload = function(){
          var data = JSON.parse(this.response);
          var a = data[0]['payload']['commits'][0];
          console.log(data[0]);
          // var b = data[0]['actor']['login'][0];
          var b = data[0]['repo']['name'];
          var d = data[0]['created_at'];
          var dateS = d.slice(0,10);
          var c = [["date", dateS], ["repo", b], ["who", a.author.name], ["notes", a.message]];
          c.forEach(function(element){
            d = document.getElementById(element[0]);
            e = document.createTextNode(element[1]);
            d.appendChild(e);
          })
          f = "https://github.com/" + b;
          g = document.getElementById('urL');
          g.setAttribute('href', f);

        };
        request.send();
      }
      getLatest()

 </script>
{% endblock %}
