{% extends "dirt/temp_one.html" %}

{% block style %}

.charts {
  width:400px;
}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}
.bg-black {
  background-color: #000000;
}

.bg-red {
  background-color: rgba(199, 31, 22, 1);

}

.txt-14 {
  font-size: 14px;
}
.wide-88 {
  width:88px;
  height:88px;
}
.m-w-376{
  min-width: 376px;
}


.col-sm, .col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
{% endblock %}
{% block return_to %}
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container-fluid p-0 m-0" style="height:100vh; overflow:auto">
  <div class="row no-gutters border border-danger" style="height:100%">
    <div class="col-sm-4" style="">
      <div class="card pb-0" style="height:100%">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Take from the poor - give to the poor </h5>
        </div>
        <div class="card-body p-1" style="height:100%">
          <h6 class="card-title pt-1" style="">The longterm cost of cheap labor
            <br><small class="text-muted">The poor and working poor make up a larger portion of swiss society
            <br>Many do not pay into the mandatory pension system</small></h6>
          <p>The social and economic landscape of Switzerland is changing. While the social contract is maintained by city social services, what happens when those working poor reach retirement age ?</p>
          <p>Furthermore long term unemployment is a problem for individuals greater than 45 years old. As individuals turn to short-term and part-time work to make ends meet, employers restrict hours to avoid paying into the LPP</p>
          <p>What are the costs of this employment strategy ? If a greater portion of people are not paying into the pension system how are we going to maintain the social contract as they reach retirement age?</p>
          <p>What is the cost of cheap labor today in relation to pension contributions and values in the future ?</p>
          <p class="font-weight-bold">hammerdirt will take a look</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0" style="" id="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Computing and data analysis</h5>
        </div>
        <div class="card-body p-0 pt-1" style="">
          <h6 class="card-title" style="">Advanced data visualisations with D3
            <br><small class="text-muted">JavaScript has evolved and we are following
            <br>D3 and python, hold on its comin'</small></h6>
          <p>We like numbers and colors. Data visualisation is a core competence at hammerdirt</p>
          <p>Maybe it's because we are better at math than grammar, either way there is no better way to explain or demonstrate a concept than interactive graphics.</p>
          <p>Python and JavaScript are free to use and are not dependent on super expensive computing sytems: perfect for small unfunded organisations like ours.</p>
        </div>
      </div>
      <div class="card pb-0" style="" id="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">scikit-learn</h5>
        </div>
        <div class="card-body p-0 pt-1" style="">
          <h6 class="card-title" style="">Machine learning
            <br><small class="text-muted">What can we do with scikit-learn?
            <br>Forget sepal length, we are going to run the trash data through this library</small></h6>
          <p>While many people hash over the same old data sets provided by the developers of this powerfull library, hammerdirt will look at data from real life.</p>
          <p>Sourced from the crowd or from underexploited data sets, we will dive deep into this library and get to know it intimateley</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0" style="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Environment and ecosytems</h5>
        </div>
        <div class="card-body p-1" style="">
          <h6 class="card-title pt-1" style="">Riparian flora and fauna
            <br><small class="text-muted">Literature review of riparian habitats
            <br>Focus on wetlands and inland water sytems</small></h6>
          <p>Along with hammerdirt California, we will conduct a litterature review of riparian habitats in California and Switzerland. Focussing on the dominant species of the American River and the Lac Léman.</p>
        </div>
      </div>
      <div class="card pb-0" style="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Environment and ecosytems</h5>
        </div>
        <div class="card-body p-1" style="">
          <h6 class="card-title pt-1" style="">Monitoring and surveilance
            <br><small class="text-muted">We like to build things
            <br>DIY build of water quality monitor</small></h6>
          <p>Now that we have a backend that can recieve and process data from a variety of sources we will finally build that water qaulity monitor</p>
        </div>
      </div>
      <div class="card pb-0" style="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Are you interested ?</h5>
        </div>
        <div class="card-body p-1" style="">
          <h6 class="card-title pt-1" style="">Contributions are welcome
            <br><small class="text-muted">There is no pay and the work is hard</small></h6>
          <p>Each project builds to the next and our focus is on learning and developing key skills for the information based economy</p>
        </div>
      </div>
    </div>
  </div>
</div>







{% endblock %}


{% block charts %}
{% load static %}


{% endblock %}
