<!--
Variables called:
summary_table.html: first column includes the buttons to call inventory and top twenty_fith
map_search.htm: second column call the map and buttons for list of locations and rivers/box_lakes
charts_scatter_two: calls the catter chart that with two colors (one for serach results and the other for the rest)
-->
<div class="row no-gutters" id="intro-row" style="height:100%">
  <div class="col-sm" id="" style="height:100%">
    {% include 'dirt/summary_table.html' %}
  </div>
  <div class="col-sm" id="" style="height:100%">
    {% include 'dirt/map_search.html' %}
  </div>
  <div class="col-sm" id='' style="height:100%">
    {% include 'dirt/charts_scatter_two.html' %}
  </div>
</div>
