<!--
Variables called:
none
-->
<div class="modal fade" id="mcbp-2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">MCBP-2 2015-2016<br>
          <small class="text-white"> Getting serious</small>
        </h5>
        <button type="button" class="close align text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          MCBP-2 was started in November 2015, based on the <a href="https://www.ospar.org/work-areas/eiha/marine-litter">OSPAR</a>
           and <a href="https://www.eea.europa.eu/themes/water/europes-seas-and-coasts/marine-litterwatch">Marine Litter Watch</a>(MLW)
           protocols. Centered in the region of Montreux, over 100 litter inventories were conducted in 12 months (52 inventories within the city limits of Montreux)
           each inventory detailed the following:</p>
           <ul>
              <li>Object found</li>
              <ul>
                <li>Quantity</li>
                <li>MLW Classification</li>
                <ul>
                  <li>Description</li>
                  <li>Material composition</li>
                </ul>
              </ul>
              <li>GPS coordinates</li>
              <li>Length of shoreline</li>
            </ul>

        <p>The results were documented using the <a href="http://www.kobotoolbox.org/">Open-Data-Kit (Kobo-Collect)</a> and were made availbale to the public on our Google-Drive.</p>
        <p>MCBP-2 produced two documents:</p>
          <ul>
            <li> <a href="https://drive.google.com/open?id=0BzPFamJgOYe1RFJmR01qeWZtQWc">The ln(beach-litter-density)</a></li>
            <ul>
              <li>Compares results from MCBP-2 to other OSPAR regions</li>
              <li>Compares results from the EPFL stduy in 2014</li>
              <li>Expresses trash as a value of pcs/m </li>
            </ul>
            <li> <a href="https://drive.google.com/open?id=0BzPFamJgOYe1S2R4WC01cDBlQzg">Annex-B</a></li>
            <ul>
              <li>Comparative analysis of results</li>
              <li>Regression of pcs/m against river discharge rates</li>
              <li>Identification of most common items found</li>
              <li>Expression of pcs/m as a probability mass function</li>
            </ul>
          </ul>
        <p>The results were presented to municipal, regional and national authorities.</p>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
