<!--
Variables called:
none
-->
<div class="modal fade" id="mcbp-3">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">MCBP-3 2016-2017<br>
          <small class="text-white">Making the efforts sustainable with automation and data-science </small>
        </h5>
        <button type="button" class="close align text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>MCBP-3 It became obvious that no official institutions were interested in analyzing or using the collected data. Therefore we decided to create the infrastructure necesary to
          automate the basic analysis and visualization of the results.</p>
          <ul>
            <li> Automation of data handling</li>
            <ul>
              <li>Develop our own app for logging data</li>
              <li>Automate presentation of results and descriptive statistics</li>
              <li>Automate standard data visualisations</li>
            </ul>
            <li>Specifically we focussed on the following programing languages/platforms:</li>
            <ul>
              <li> Python (django, pandas, scikit-learn, matplotlib, numpy, et all...)</li>
              <li> HTML5/CSS -- Bootstrap 4 </li>
              <li> JavaScript (Highcharts, D3, jQuery, react, react-native, nodeJs)</li>
              <li> Java (android), MySQL, linux(shell) </li>
            </ul>
          </ul>
        <p>As a result we did fewer litter inventories. However this led to several operations improvements:</p>
        <ul>
          <li>Software fees were reduced to zero (not including server costs)</li>
          <li>This allowed for possible IT hardware investments </li>
          <li>Reduced time spent generating reports</li>
          <li>Increased access to results and data</li>
          <li>Reduced overall time spent on adminstrative tasks</li>
        </ul>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
