<!--
Variables called:
none
-->
<div class="modal fade" id="mcbp-4">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">MCBP-4 2017-<br>
          <small class="text-white">Beach litter surveillance made easy</small>
        </h5>
        <button type="button" class="close align text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          There will be no further MCBP projects. The development of our platform elimnates the need for a project based approach
          to aquatic litter monitoring in the area.
        </p>
        <p>
          Litter surveillance will continue throughout the year at various locations in the region. However, efforts in this domain will be focussed on data analysis and visualisation.
        </p>
        <p>
          We can do that now that the easy stuff has been automated !
        </p>
        <h5>Update September 2018:</h5>
        <p>Focus continues to be to develop the platform.</p>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
