<!--
Variables called:
none
-->
<div class="modal fade" id="measuring">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Measuring beach litter<br>
          <small class="text-white"> For a list of further reading on the subject see the bibliography section of the MCBP results.</small>
        </h5>
        <button type="button" class="close align text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Beach litter density is the measure of trash on a fixed length of beach or shoreline.
        </p>
        <p>
          All visible trash is collected, the individual objects are identified and sorted using an international protocol.  This process is repeated multiple times per year
          at the same location.
        </p>
        <p>
           Although the protocols were written for the marine environment the basic activitiy remains the same. At hammerdirt we have modified the protocol in one important way:</p>
        <ul>
          <li>We do not require sections of 100m of shoreline</li>
        </ul>
        <p>
          All hammerdirt members have a username and password. Once the objects have been sorted and counted, members can enter the information directly through their smartphones.
           The results of repeating this multiple times at a variety of locations is what is stored in our database.
        </p>
        <p>It is always best to get the information first hand <a href="http://publications.jrc.ec.europa.eu/repository/bitstream/JRC83985/lb-na-26113-en-n.pdf">Guidance on Monitoring of
          Marine Litter in European Seas</a></p>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
