{% load static %}
<div class="card p-1 bg-secondary " id="" style="height:100%; ">
  <div class="bg-dark text-white card-header mb-1 p-2 pl-3 text-left" id="" style="">
    2017 Results
  </div>
  <div class="card-body p-0 m-0 text-left bg-white" style="height:100%; width:100%">
    <h6 class="m-0 mb-1 bg-white pl-1" style="width:100%">Average total colony forming units June - July 2017<small class="text-muted">
      <br>Medium: ECA Easygel+ UV, incubation time: 24hrs
      <br>Three samples per location, per day. Tuesdays between 10am and 12noon</small></h6>
    <div id="2017-plot-all" class="mb-2" style="min-height:360px; min-width:374px; max-width:98%"></div>
    <h6 class="m-0 mb-1 bg-white pl-1" style="width:100%">Average total Ultraviolet colony forming units June - July 2017 <small class="text-muted">
      <br>Medium: ECA Easygel+ UV, incubation time: 24hrs
      <br>Three samples per location, per day. Tuesdays between 10am and 12noon</small></h6>
    <div id="2017-plot-uv"class="mb-2" style="min-height:360px; min-width:374px; max-width:98%"></div>

  </div>
</div>
