{% load static %}


<div class="card pb-0" id="cd_10"  style="height:100%">
  <div class="bg-dark text-white card-header p-2 pl-3 text-left" id="" style="">
    Results by year
  </div>
  <div class="card-body p-0 text-left"  style="height:100%">
    <h6 class="card-title">Aggregated results by year, location and colony-colors</h6>
      <figure class="figure w-100 mb-1" style="height:40%">

        <img src="{% static 'images/cfu_week.png' %}" class="img-fluid btn" style="" role="button" data-toggle="modal" data-target="#results_2017" >
        <figcaption class="figure-caption text-right pr-2">Click on image above to see results for 2017</figcaption>


      </figure>
      <figure class="figure w-100 mb-1" style="height:40%">
        <img src="{% static 'images/cfu_week_16.png' %}" class="img-fluid btn" style="" role="button" data-toggle="modal" data-target="#results_2016">
        <figcaption class="figure-caption text-right pr-2">Click on image above to see results for 2016</figcaption>

      </figure>

    </div>
