<!--
Variables called:
none
-->
<div class="card w-100 border-white" id="">
    <div class="card-body text-left" style="height:100%;font-family:'Montserrat'">
      <div class="list-group border-right-0 border-left-0 ">
        <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="mb-1" style="font-family:'Montserrat'">Understand the statistical signifigance of results
            <br><small class="text-muted">Acquire a year over year data series from the same locations that could be compared using a binomial variable.</small></h6>
        </div>
        <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="mb-1" style="font-family:'Montserrat'">Understanding the affects of population density
            <br><small class="text-muted">We sampled before, during and after the period when the official reported monthly value of "Hotel nights sold month" almost triples from one month to the next.</small></h6>
        </div>
        <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="mb-1" style="font-family:'Montserrat'">Understanding the affects of precipitation
            <br><small class="text-muted">Precipitation rates can affect water quality testing in a variety of ways. The preciptation rates were different from one year to the next, but there was still an increase in the indicator bacteria both summers.</small></h6>
        </div>
      </div>
    </div>
  </div>
