{% extends "dirt/hd_base.html" %}
{% load static %}
{% block og_data %}
<title>Hammer-Hackuarium</title>
<!-- Open Graph Data -->
<meta property="og:title" content="Water sampling 2016-2017" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://mwshovel.pythonanywhere.com/dirt/microbiology.html" />
<meta property="og:image" content= "https://www.pythonanywhere.com/user/mwshovel/files/home/mwshovel/module_one/dirt/static/images/micro_og.jpeg" />
<meta property="og:image:width" content="700" />
<meta property="og:image:height" content="623" />
<meta property="og:description" content="Hammerdirt & Hackuarium, a partnership. Results from the 2016-2017 water sampling campaign during the Montreu Jazz Festival." />
<meta property="og:site_name" content="Water quality" />
<!-- <meta property="fb:admins" content="" /> -->
{% endblock %}
{% block style %}
.col-sm{
  min-width:400px;
}
{% endblock %}
{% block content %}
{% load humanize %}{% load static %}

<div class="container-fluid p-0 m-0" style="width:100%">
  <div class="row no-gutters w-100" id="intro-row" style="">
    <div class="col-sm" id="" style="">
      {% include 'dirt/reasons_why_micro.html' %}
    </div>
    <div class="col-sm" id="" style="">
      {% include 'dirt/analysis_micro.html' %}
    </div>
    <div class="col-sm" id='' style="">
      {% include 'dirt/micro_projects_history.html' %}
    </div>
  </div>
  <div class="row no-gutters w-100" id="combined-data-row" style="">
    <div class="col-sm " id="data-summary-column" style="">
      {% include 'dirt/col_one_data_micro.html' %}
      {% include 'dirt/micro_map_card.html' %}
    </div>
    <div class="col-sm " id="map-search-column"  style="">
      {% include 'dirt/micro_2016_card.html' %}
    </div>
    <div class="col-sm " id="charts-column"  style="" >
      {% include 'dirt/micro_2017_card.html' %}

    </div>
  </div>
  <div class="row no-gutters w-100 bg-dark mt-1 ">
    <p class="text-white"> We have grants for organizations with unfunded requirements. Contact us for more information.</p>
  </div>
        {% include 'dirt/culture_medium_modal.html' %}
        {% include 'dirt/micro_objectives_modal.html' %}
        {% include 'dirt/hotel_nights_modal.html' %}
        {% include 'dirt/jazz_modal.html' %}
        {% include 'dirt/rain_modal.html' %}
        {% include 'dirt/micro_array_modal.html' %}
        {% include 'dirt/open_acces_modal.html' %}
{% endblock %}
{% block charts %}
<!--
The template 'body' tag is hidden durring loading
this makes it visible right away when index is called
-->
<script type="text/javascript">
    document.getElementById('hide-me').style.visibility='visible'
</script>
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% include 'dirt/micro_map_script.html' %}
{% include 'dirt/micro_all_avg_cfu_2017_script.html' %}
{% include 'dirt/micro_avg_uv_cfu_2017_script.html' %}
{% include 'dirt/micro_all_avg_cfu_2016_script.html' %}
{% include 'dirt/micro_bb_avg_cfu_2016_script.html' %}
<script type="text/javascript">

var rain_17 = {{ rain_17|safe }}
var b_blue17_svt = {{ b_blue17_svt|safe }}
var b_blue17_mrd = {{ b_blue17_mrd|safe }}
var b_blue17_vnx = {{ b_blue17_vnx|safe }}

var b_b17_mrd = [];
b_blue17_mrd.forEach(function(element){
  element.x = Date.parse(element.x);
  element.y = parseFloat(element.y);
  b_b17_mrd.push({"name":element.location, "x":element.x, "y":element.y});
});
var b_b17_svt = [];
b_blue17_svt.forEach(function(element){
  element.x = Date.parse(element.x);
  element.y = parseFloat(element.y);
  b_b17_svt.push({"name":element.location, "x":element.x, "y":element.y});
});
var b_b17_vnx = [];
b_blue17_vnx.forEach(function(element){
  element.x = Date.parse(element.x);
  element.y = parseFloat(element.y);
  b_b17_vnx.push({"name":element.location, "x":element.x, "y":element.y});
});
</script>




{% endblock %}
