<!--
Variables called:
history.html
about_technology.html
open_acces_modal.html
-->
{% load static %}
<div class="card border-white" id="history_projects" style="" >
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    A Partnership
  </div>
  <div class="card-body p-1 w-100 text-left" >
    <div class="list-group border-right-0 border-left-0">
      <dl class="row m-0 p-0 mb-1">
        <dt class="col-sm-4"><small><strong>Action for Genomic integrity through Research!</strong></small></dt>
        <dd class="col-sm-8"><small>Technical oversight for the microbial assays, training of hammerdirt staff, quality control of laboratory operations.</small></dd>
      </dl>
      <dl class="row row m-0 p-0 mb-1">
        <dt class="col-sm-4"><small><strong>Hackuarium</strong></small></dt>
        <dd class="col-sm-8"><small>Laboratory infrastructure and security, testing equipment and supplies for biologicals.</small></dd>
      </dl>
      <dl class="row row m-0 p-0 mb-1">
        <dt class="col-sm-4"><small><strong>biodesign.cc</strong></small></dt>
        <dd class="col-sm-8"><small>Analysis of samples for mercury, Cadmium Zinc, Alkanes and arsenic using the bio-reporters.</small></dd>
      </dl>
      <dl class="row row m-0 p-0 mb-1">
        <dt class="col-sm-4"><small><strong>hammerdirt</strong></small></dt>
        <dd class="col-sm-8"><small>Collection and processing of samples, data storage and administration.</small></dd>
      </dl>
      </div>
      <div class="list-group border-right-0 border-left-0 ">
        <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
          <h6 class="" style="font-family:'Montserrat'">Open access is a ciritcal resource
            <br><small class="text-muted">This is a list of all the different tools used to make this app:</small>
          </h6>
          <button class="btn bg-info text-white border-white text-left" style=""  role="button" data-toggle="modal" data-target="#open-acces" aria-expanded="false" aria-controls="">
            Thanks</button>
        </div>

    </div>
</div>
