'#264653'
<!--
Variables called:
dist_y_two, dist_y_one
the parser is not needed for this
-->
{% load static %}
<script type="text/javascript">
var dist_y_one = {{ dist_y_one|safe}}
var dist_y_two = {{ dist_y_two|safe}}
var dist_y_three = {{ dist_y_three|safe}}
Highcharts.chart('probchart', {
    chart: {
        margin: [10, 80, 30, 80],
        spacing: [10, 10, 10, 10]
    },
    credits:{
      text:'hammerdirt 2018',
    },
    title: {
         text: ''
    },
    exporting: {
      enabled:false,
    },
    xAxis: {
        labels: {
            format: 'e^{value}'
        },
        minRange: 5,
        title: {
            text: 'log(pcs/m)'
        }
    },
    yAxis: {
        title: {
            text: 'frequency'
        },
        labels: {
            format: '{value}'
        }
    },
    legend: {
      enabled: true,
      align: 'right',
      verticalAlign: 'top',
      horizontalAlign: 'right',
      layout:'vertical',
      floating:true,
      x:0,
      y:10,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:1,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: 14,
        fontWeight: 'bold',
      }
    },
    series: [{
        data: dist_y_one,
        color: '#E76F51',
        name: 'Year one',
        marker: {
            enabled: false
        },
        threshold: null
    },{
        data: dist_y_two,
        color: '#2A9D8F',
        name: 'Year two',
        marker: {
            enabled: false
        },
        threshold: null
    },{
        data: dist_y_three,
        color: '#264653',
        name: 'Year three',
        marker: {
            enabled: false
        },
        threshold: null
    }
  ]
});
</script>
