<!--
Variables called:
calls: the button for the csv download modal
-->
<div class="card border-white " id="why" style="" >
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    Welcome to the beach-litter section
  </div>
  <div class="card-body p-1 w-100 text-left" >
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> This is a Management tool:
          <br><small class="text-muted">Based on hundreds of observations. Because to manage it, you need to measure it.</small>
        </h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Pragmatic action:<br>
          <small class="text-muted" >Each trash sample remediates the problem(a little bit). Data collection is for tomorrow.<strong> Removing trash is for today.</strong></small>
        </h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Water is better without trash:<br>
          <small class="text-muted">A clean beach is a guaranteed value.</small>
        </h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'"> Reproducible research:
          <br><small class="text-muted">You can DIY this if you like, gather your own data or use ours. Updated every time somebody makes a request to the server.</small>
        </h6>
        <button data-toggle="modal" class="btn bg-info text-white" data-target="#data">
          Get data in csv format
        </button>
      </div>
    </div>
   </div>
</div>
