<!--
Variables called:
calls: the button for the csv download modal
-->
<div class="card border-white " id="why" style="" >
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    Welcome to the Water quality section
  </div>
  <div class="card-body p-1 w-100 text-left" >
    <div class="list-group border-right-0 border-left-0 ">
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'">Large public events can affect the bacterial levels in lake-water
          <br><small class="text-muted">There is no public testing for short term changes
            <br></small></h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'">As population density changes so does the use of the lake-shore
          <br><small class="text-muted">As the number of people increases so does the number of bathers
          <br></small></h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'">Better management
          <br><small class="text-muted">The organizers of events are not aware of the effects (because there is no testing)
          <br></small></h6>
      </div>
      <div class="list-group-item flex-column align-items-start border-right-0 border-left-0">
        <h6 class="mb-1" style="font-family:'Montserrat'" > Data:
          <br><small class="text-muted">Organizing a sampling and testing regimen is quite a bit of work. You can use our data if you like.</small>
        </h6>
        <button data-toggle="modal" class="btn bg-info text-white" data-target="#data">
          Get data in JSON format
        </button>
      </div>
    </div>
   </div>
</div>
