{% extends "dirt/temp_one.html" %}

{% block style %}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}

.txt-14 {
  font-size: 14px;
}
.txt-18 {
  font-size:18px;
}
.wide-88 {
  width:88px;
  height:88px;
}

.col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

#box-plot, combined-ts, {
  min-width: 360px;
  height: auto;
  padding: 0;
  margin: 0;

}


.bg-red {
  background-color: rgba(199, 31, 22, 1);


}

.bg-black {
  background-color: #000000;
}


{% endblock %}

{% block return_to %}
<li class="nav-item">
  <a class="nav-link text-white" href="javascript:history.go(-1)">Back to MCBP</a>
</li>
{% endblock %}



{% block content  %}
{% load humanize %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12" style="">
      <div class="w-100" id="accordion" role="tablist">
       <div class="card pb-0">
         <div class="bg-info text-white card-header" id="" style="">
           <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordion" data-target="#summary" aria-expanded="false" aria-controls="links">
             <i class="fa fa-th-list fa-lg"></i>&nbsp; Summary : {{ city }}
           </a>
         </div>
         <div class="collapse show container-fluid m-1 w-100" data-parent="#accordion" style="" id="summary">
           <div class="card-body p-1 mb-1 mt-1 justify-content-end bg-red w-100">
             <div class="row p-2 " style="">
               <div class="col align-self-start">
                 <p class="text-white text-left">The average pcs/m is greater than {{ beach_rank|floatformat:0 }}% of the other cities in this survey</p>
               </div>
               <div class="col align-self-center justify-content-center">
                 <h2 align="center" class="text-white display-3" style=""> {{ beach_rank|floatformat:0|ordinal }}</h2>
                 <div class="col align-self-end">
                   <p align="right" class="text-white">percentile</p>
                 </div>
               </div>
             </div>
             <div class="d-flex flex-row justify-content-end p-0 bg-red w-100">
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">N<sup>o</sup> of Samples</p>
                 </div>
                <div class="d-sm-inline-flex flex-column p-1 " >
                  <p class="text-white p-0 m-0" > {{ summary.num_samps|floatformat:0 }}</p>
                </div>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">Total pieces </p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 m-0">
                   <p class="text-white p-0 m-0"> {{ summary.total|floatformat:0|intcomma }}</p>
                 </div>
               </div>
             </div>
             <div class="d-flex flex-row justify-content-end p-0 bg-red">
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">First sample</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 ">
                  <p class="text-white p-0 m-0">{{ summary.first|date:"M Y" }}</p>
                 </div>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">Latest sample</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 m-0">
                   <p class="text-white p-0 m-0">{{ summary.last|date:"M Y" }}</p>
                 </div>
               </div>
             </div>
             <div class="d-flex flex-row justify-content-end p-0 bg-red">
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0 " >Average pcs/m</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 ">
                  <p class="text-white p-0 m-0" > {{ summary.ave_dense|floatformat:1 }} pcs/m <small> (not weighted) </small></p>
                </div>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 w-50">
               <div class="d-sm-inline-flex p-1 bg-black" >
                 <p class="text-white p-0 m-0">Range pcs/m</p>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 m-0">
                 <p class="text-white p-0 m-0"> {{ summary.min_dense|floatformat:1 }} - {{ summary.max_dense|floatformat:1 }} pcs/m</p>
               </div>
              </div>
             </div>
             <div class="d-flex flex-row justify-content-end p-0 bg-red">
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">Standard deviation</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0"> {{ summary.stan_dev|floatformat:2 }} pcs/m</p>
                 </div>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">Innerquartile</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0"> {{ summary.iqr|floatformat:1 }} pcs/m</p>
                </div>
               </div>
             </div>
             <div class="d-flex flex-row justify-content-end p-0 bg-red">
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">25<sup>th</sup> percentile</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0"> {{ summary.two_five|floatformat:1 }} pcs/m</p>
                 </div>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 w-50">
                 <div class="d-sm-inline-flex p-1 bg-black">
                   <p class="text-white p-0 m-0">75<sup>th</sup> percentile</p>
                 </div>
                 <div class="d-sm-inline-flex flex-column p-1 m-0">
                   <p class="text-white p-0 m-0"> {{ summary.seven_five|floatformat:1 }} pcs/m</p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style:"">
      <div id="accordionTwo" class="" role="tablist">
        <div class="card pb-0" id="map-of-locations">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 " data-toggle="collapse" data-parent="#accordionTwo"  data-target="#map_results" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-map fa-lg "></i>&nbsp; Survey locations : {{ city }}
            </a>
          </div>
          <div class="collapse show" data-parent="#accordionTwo" id="map_results" >
            <div class="card-body p-0">
              <div id="map" style="height:380px"></div>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="box-plot-chart">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 collpased" data-toggle="collapse" data-parent="#accordionTwo"  data-target="#box_results" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-line-chart fa-lg "></i>&nbsp; Results by date and monthly summaries
            </a>
          </div>
          <div class="collapse " data-parent="#accordionTwo" id="box_results" >
            <div class="card-body p-0">
              <div class="align-self-center mb-4" id="box-plot"></div>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="time-series-chart">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 collpased" data-toggle="collapse" data-parent="#accordionTwo"  data-target="#date_results" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-line-chart fa-lg "></i>&nbsp; {{ city }} vs all other MCBP Results
            </a>
          </div>
          <div class="collapse " data-parent="#accordionTwo" id="date_results" >
            <div class="card-body p-0">
              <div class="align-self-center mb-4" id="combined-ts"></div>
            </div>
          </div>
        </div>
        <div class="card" id="inv">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1" data-toggle="modal" data-target="#inventory" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-th-list fa-lg"></i>&nbsp; Inventory of all items found
            </a>
          </div>
          <div class="modal fade" id="inventory">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <table class="table-striped table table-sm">
                    <thead class="txt-14">
                      <tr>
                        <td colspan="3" class="bg-info text-white"> All items included in this summary
                          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </td>
                      </tr>
                      <tr>
                        <th>Item</th>
                        <th class="text-center p-1">Code</th>
                        <th class="text-center p-1">Quantity</th>
                      </tr>
                    </thead>
                    {% for s in inventory %}
                    <tr class="txt-12">
                      <td class="pl-2">{{ s.description }}</td>
                      <td class= "text-center p-1">{{ s.code }}
                      <td class="text-center p-1">{{ s.total|floatformat:0 }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td colspan="3" class="bg-info text-white"> End of inventory
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style:"">
      <div id="accordion3" class="" role="tablist">
        <div class="card pb-0" id="density_top">
          <div class="bg-info text-white card-header" id="" style="">
            <a class="bg-info text-white w-100 p-1 collpased" data-toggle="collapse" data-parent="#accordion3" data-target="#top-density" aria-expanded="false" aria-controls="links">
              <i class="fa fa-th-list fa-lg"></i>&nbsp; Locations, Av pcs/m, N<sup>o</sup> samples
            </a>
          </div>
          <div class="collapse " data-parent="#accordion3" id="top-density">
            <div class="card-body p-1">
              <table class="table-striped table table-sm">
                <thead class="txt-14">
                  <tr>
                    <th>Location</th>
                    <th>pcs/m</th>
                    <th>N<sup>o</sup> of samples</th>
                  </tr>
                </thead>
                {% for r in locs_samples %}
                <tr class="txt-12 ">
                  <td>{{ r.location_id }}</td>
                  <td>{{ r.density|floatformat:2 }}</td>
                  <td> {{ r.sample }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="the_top_ten">
          <div class="bg-info text-white card-header" id="" style="">
            <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordion3" data-target="#top-ten" aria-expanded="false" aria-controls="links">
              <i class="fa fa-th-list fa-lg"></i>&nbsp; Top ten items found
            </a>
          </div>
          <div class="collapse show" data-parent="#accordion3"style="" id="top-ten">
           <div class="card-body p-0">
             <table class="table-striped table table-sm">
               <thead class="txt-14">
                 <tr>
                   <th>Item</th>
                   <th  class= "text-center p-1">Code</th>
                   <th  class= "text-center p-1">Quantity</th>
                 </tr>
               </thead>
               {% for s in city_top_ten %}
               <tr class="txt-12">
                 <td class="pl-2">{{ s.description }}</td>
                 <td class= "text-center p-1">{{ s.code }}
                 <td class="text-center p-1">{{ s.total }}</td>
               </tr>
               {% endfor %}
            </table>
           </div>
          </div>
        </div>
        <div class="card pb-0">
          <div class="card-header bg-info text-white " id="" style="">
             <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordion3"  data-target="#categories" aria-expanded="false" aria-controls="table-of-results">
               <i class="fa fa-th fa-lg "></i>&nbsp; Results sorted by source or economic sector
             </a>
           </div>
           <div class="collapse"data-parent="#accordion3" id="categories">
             <div class="card-body p-1 " id="" >
               <div class="mx-auto" id="">
                 {% for k in sources_as %}
                 {% if forloop.counter0|divisibleby:3 %}
                 <div class="d-flex flex-row">
                   {% endif %}
                   <div class="d-inline-flex p-1 " style="background-color: {{ k.color}}; width: 33%">
                     <a class="text-white text-12" data-toggle="modal" data-target="#{{ k.color|lower }}" aria-expanded="false" aria-controls="table-of-results">
                       {% if k.name == 'Water Treatment' %}
                       <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; Waste water:<div>{{ k.source|floatformat:2 }}%</div>
                       {% endif %}
                       {% if k.name == 'Personal effects' %}
                       <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; Personal:<div>{{ k.source|floatformat:2 }}%</div>
                       {% endif %}

                       {% if k.name != 'Water Treatment' %}
                       {% if k.name != 'Personal effects' %}
                       <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; {{ k.name }}:<div>{{ k.source|floatformat:2 }}%</div>
                       {% endif %}
                       {% endif %}
                     </a>
                   </div>
                   {% if forloop.counter|divisibleby:3 %}
                 </div>
                 {% endif %}
                 {% endfor %}
               </div>
             </div>
           </div>
        </div>
        <div class="card-block row justify-content-center pb-0 pt-1">
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 " data-toggle="modal"  data-target="#print-it" aria-expanded="false">
              Printable
              <br>
              <i class="fa fa-download fa-lg mt-2 mb-1"></i>
              <br>Report
            </a>
          </div>
          <div class="modal" id="print-it">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <div class="mx-auto text-center">
                    <p class="">This is not a free service.</p>
                  </div>
                </div>
                <div class="modal-body">
                  <p class="txt-14">If you would like a detailed report, charts, or a summary contact us.</p>
                  <p class="txt-14">Prices start at CHF/USD/EUR 350</p>
                  <p class="txt-14">Other options:
                    <ul>
                      <li>Charts</li>
                      <li>Summary data </li>
                      <li>Analysis</li>
                      <li>Compare with other data sets</li>
                      <li>Integrate other independent variables</li>
                      <li>Can be in any format</li>
                      <li>Executable scripts</li>
                      <li>Plus many more options </li>
                    </ul>
                  </p>
                  <p> Contact us for more information.</p>
                </div>
                <div class="modal-footer bg-dark">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14" data-toggle="modal"  data-target="#get-it" aria-expanded="false">
              Project
              <br>
              <i class="fa fa-download fa-lg mt-2 mb-1"></i>
              <br>
              data
            </a>
          </div>
          <div class="modal" id="get-it">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content bg-dark">
                <div class="modal-body text-white">
                  <p class="mx-auto">All of the data used for this section is available in our public download folder:</p>
                  <h3 class="text-center text-white"><a class="text-white" href="https://drive.google.com/drive/folders/1XL1-_rSHsX6nwPnUNVEQB76PkIvkGn--?usp=sharing">Right here</a></h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 " href="https://twitter.com/share?ref_src=twsrc%5Etfw"  data-via="hammerdirt" data-show-count="false" aria-expanded="false">
              <i class="fa fa-share-alt fa-lg mb-1"></i><br> Tweet
            </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 "data-toggle="modal"  data-target="#get-us" aria-expanded="false">
              <i class="fa fa-comment fa-lg mb-1"></i><br> Contact
            </a>
          </div>
          <div class="modal" id="get-us">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-body bg-dark">
                  <div class="mx-auto text-center text-white">
                    <p class="">Want to know more ?</p>
                    <p class="">Send us an email:<br><br>info [at] hammerdirt.ch</p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>






<!-- <div class="card">
    <div class="card-header bg-info text-white " id="" style="">
      <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordionTwo" data-target="#categories" aria-expanded="false" aria-controls="table-of-results">
        <i class="fa fa-bar-chart fa-lg "></i>&nbsp; Results sorted by activity or source
      </a>
    </div>
    <div class="collapse" id="categories">
      <div class="card-body p-1" id="" >
        <div class="align-self-center m-0 p-0" id="source_bar" style=""></div>
        <div class="w-100 mx-auto" id="">
          {% for x in more_bars %}
          {% if forloop.counter0|divisibleby:3 %}
          <div class="d-flex flex-row">
            {% endif %}
            <div class="d-inline-flex align-content-center p-1 " style="background-color: {{ x.color}}; width: 33%">
              <a class="text-white text-12" data-toggle="modal" data-target="#{{ x.name|lower }}" aria-expanded="false" aria-controls="table-of-results">
                {% if x.name == 'Water_treatment' %}
                <i class="d-inline-flex fa fa-th-list"></i>&nbsp; Waste water:<div>{{ x.data|floatformat:2 }}%</div>
                {% endif %}
                {% if x.name != 'Water_treatment' %}
                <i class="d-inline-flex fa fa-th-list"></i>&nbsp; {{ x.name }}:<div>{{ x.data|floatformat:2 }}%</div>
                {% endif %}
              </a>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% for x in one_list %}
      <div class="modal fade" style="" id="{{ x|lower }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <table id="{{ x }}" class="table-condensed table-striped table">
                <thead>
                  <tr>
                    <th colspan="2" class="bg-info text-white">
                      {{ x }}
                      <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </th>
                  </tr>
                  <tr class="">
                    <th>MLW code</th>
                    <th>Description </th>
                  </tr>
                </thead>
                {% for type in dates_four %}
                {% if type.source == x %}
                <tr>
                  <td class="td_site-results">{{ type.code }}</td>
                  <td class="td_site-results">{{ type.description }}</td>
                </tr>
                {% endif %}
                {% if x == 'Personal' %}
                {% if type.source == 'Personal effects' %}
                <tr>
                  <td class="td_site-results">{{ type.code }}</td>
                  <td class="td_site-results">{{ type.description }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% if x == 'Fragment' %}
                {% if type.source == 'Fragmented' %}
                <tr>
                  <td class="td_site-results">{{ type.code }}</td>
                  <td class="td_site-results">{{ type.description }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% if x == 'Water_treatment' %}
                {% if type.source == 'Water Treatment' %}
                <tr>
                  <td class="td_site-results">{{ type.code }}</td>
                  <td class="td_site-results">{{ type.description }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> -->

{% endblock %}

{% block charts %}
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
var sources_as = {{ sources_as|safe }};
var city_top_ten = {{ city_top_ten|safe }};
var map_points = {{ map_points|safe }};
var box_plot = {{ box_plot|safe }};
var box_cats = {{ box_cats|safe }};
var plot_all = {{ plot_all|safe }}
var locs_samples = {{ locs_samples|safe }};
var beach_rank = {{ beach_rank|safe }};
var plot_data = {{ plot_density|safe }}
var ceiling = {{ ceiling|safe}}

var ts_plot = [];
plot_data.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element.location_id, "x":element.date, "y":element.density});
  }
});

var slr_plot = [];
plot_all.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  var today = new Date();
  if (element.date < today){
    slr_plot.push({"name":element.location_id, "x":element.date, "y":element.density});
  }
});

</script>
<script type="text/javascript">

var map;
var styledMapType;
function initMap() {
  styledMapType = new google.maps.StyledMapType([
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#00cdff"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
],
{name:'SLR locations: {{ city }}'});
  map = new google.maps.Map(document.getElementById('map'), {
    zoom:10,
    center: {lat: map_points[0][0], lng: map_points[0][1]},
    minZoom:9,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,

  });
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');

  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  var markers = [];

  for (i = 0; i < map_points.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(map_points[i][0], map_points[i][1]),
      map: map,
      label:{
        fontFamily: 'Fontawesome',
        text: '\uf1f8',
        fontSize: '20px',
        color: 'white'
      },
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 10,
        fillColor: 'black',
        fillOpacity:1,
      },


    });
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  map_points[i][6] + '</p>'+
    '<ul><li>City: ' + map_points[i][4] +'</li><li> Postal Code: ' + map_points[i][3] + '</li><li>Average pcs/m: ' + map_points[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    map_points[i][5] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));
    markers.push(marker);
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

  };

   };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&callback=initMap"  async defer> </script>
<script type="text/javascript">
Highcharts.chart('box-plot', {

    chart: {
        type: 'boxplot',
        spacingBottom: 20,
    },

    title: {
        text: '{{ city }}: monthly summaries and daily results',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: 'Values greater than 50 pcs/m not considered',
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },

    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'left',
      layout:'vertical',
      floating:true,
      x:120,
      y:60,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:2,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: '10px',
      },
    },
    plotOptions:{
      boxplot:{
        fillColor:'rgba(10, 46, 92, 1)',
        lineColor: 'rgba(00, 00, 00, 1)',
        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },

    xAxis: [{
        categories:box_cats,
        type: 'category',
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,
        // title: {
        //     text: 'Quantiles by month'
        // }
    },{
      type: 'datetime',
      opposite:true,
      visible:false,
      alignTicks:true,
      tickInterval:3600*1000*24*28,
      tickColor:'rgba(00, 00, 00, 1)',
      labels: {
        enabled: false,
        style: {
          color:'rgba(00, 00, 00, 1)',
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %y',
      },
    },
  ],
    yAxis: {
      min:0,
      max:85,
      ceiling:ceiling,
      alignTicks:false,
      tickInterval:2,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter of shoreline',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },

    series:
    [{
      zIndex:1,
      xAxis:0,
      type: 'boxplot',
      name: 'Monthly summary',
      data: box_plot,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'Survey results',
      marker: {
        symbol: 'circle',
        radius:3,
        fillColor:'rgba(255, 00, 00, .7)',
        lineColor: 'rgba(00, 00, 00, 1)',
        lineWidth:1,
      },
      data:ts_plot,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },

    ]

});
</script>
<script type="text/javascript">
Highcharts.chart('combined-ts', {
    chart: {
        type: 'area',
        plotBorderWidth:0,
        spacingBottom: 20,
        zoomType: 'x',
        style: {
          fontFamily: 'sans-serif',
        }
    },
    title: {
        text: '{{ city }} compared to all other MCBP results',
        style:{
          fontSize: '16px',
          color:'#0A2E5C',

        },
    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'right',
      layout:'vertical',
      floating:true,
      x:140,
      y:80,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:1,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: 14,
        fontWeight: 'bold',
      }
    },
    xAxis: {
      type: 'datetime',
      tickInterval:3600*1000*24*28*2,
      labels: {
        style: {
          color:'rgba(00, 00, 00, 1)'
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %Y',
      },
    },
    yAxis: {
        title: {
            align: 'low',
            offset: 40,
            text: 'Pieces of trash per meter of shoreline',
            style:{
              fontSize: '12px',
              color:'#000000',
            },
        },
        gridLineColor:'rgba(10, 46, 92, .1)',
        labels:{
          style: {
            color:'rgba(00, 00, 00, 1)'
          }
        },
        tickInterval: 8,
        min: 0,

    },
    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
    },
    series: [{
      zIndex:3,
      type: 'scatter',
      name:'MCBP results',
      marker: {
        symbol: 'circle',
        radius:6,
        lineColor: 'rgba(10, 46, 92, .7)',
        fillColor:  'rgba(22, 199, 158, .7)',
        lineWidth:2,
      },
      data:slr_plot,

    },{
      zIndex:3,
      type: 'scatter',
      name:'{{ city }} results',
      marker: {
        symbol: 'circle',
        radius:6,
        fillColor: 'rgba(255, 00, 00, 1)',
        lineColor: 'rgba(00, 00, 00, 1)',
        lineWidth:2,
      },
      data:ts_plot,

    }
  ],
  }
);
</script>
{% endblock %}
