{% extends "dirt/temp_one.html" %}

{% block style %}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}

.txt-14 {
  font-size: 14px;
}
.txt-18 {
  font-size:18px;
}
.wide-88 {
  width:88px;
  height:88px;
}

.col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

#box-plot, combined-ts, {
  min-width: 360px;
  height: auto;
  padding: 0;
  margin: 0;

}


.bg-red {
  background-color: rgba(199, 31, 22, 1);


}

.bg-black {
  background-color: #000000;
}


{% endblock %}

{% block return_to %}
<li class="nav-item">
  <a class="nav-link text-white" href="javascript:history.go(-1)">Back to SLR</a>
</li>
{% endblock %}



{% block content  %}
{% load humanize %}


<div class="container-fluid p-0 m-0" style="height:100vh; overflow:auto">
  <div class="row no-gutters border border-danger" style="height: 100%">
    <div class="col-sm-4 " style="">
      <div class="card pb-0" style="height:100%">
        <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
          <i class="fa fa-th-list fa-lg"></i>&nbsp; Search results: {{ city }}
        </div>
        <div class="card-body p-0" style="height:100%">
          <h6 class="card-title" style=""> Summary of all beach litter surveys for: {{ city }}
            <br><small class="text-muted"> All projects inlcuded
            <br> Units= pcs/m<sup>2</sup></small></h6>
          <table class="table table-sm table-striped text-left txt-12" style="height:60%">
            <tbody>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of Samples:</td>
                <td class="mr-auto">{{ summary.num_samps|floatformat:0|intcomma }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of locations:</td>
                <td class="mr-auto">{{ num_locs|floatformat:0 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of rivers - lakes:</td>
                <td class="mr-auto">{{ num_rivers|floatformat:0 }} - {{ num_lakes|floatformat:0 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">First sample date:</td>
                <td class="mr-auto">{{ summary.first|date:"M Y" }}</td>
              </tr>
              <tr>
                <td class="ml-auto">Most recent sample:</td>
                <td class="mr-auto">{{ summary.last|date:"M Y" }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of pieces of garbage:</td>
                <td class="mr-auto">{{ summary.total|floatformat:0|intcomma }}</td>
              </tr>
              <tr>
                <td class="ml-auto">Avg pieces/meter<sup>2</sup>: </td>
                <td class="mr-auto">{{ summary.ave_dense|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
              <tr>
                <td class="ml-auto">Standard deviation:</td>
                <td class="mr-auto">{{ summary.stan_dev|floatformat:2 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">25<sup>th</sup> percentile:</td>
                <td class="mr-auto">{{ summary.two_five|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
              <tr>
                <td class="ml-auto">75<sup>th</sup> percentile:</td>
                <td class="mr-auto"> {{ summary.seven_five|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
              <tr>
                <td class="ml-auto">Min - Max pcs/m<sup>2</sup>:</td>
                <td class="mr-auto"> {{ summary.min_dense|floatformat:4 }} - {{ summary.max_dense|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
            </tbody>
          </table>
          <div class="btn-toolbar" style="">
              <div class="btn-group" style:"height:10%">
                <button class="btn bg-info text-white p-2 border-white"  style="white-space: normal;" data-toggle="modal" data-target="#sun_shine" aria-expanded="false" aria-controls="">
                  All items identified</button>
                <button class="btn bg-info text-white p-2 border-white" style="white-space: normal;" data-toggle="modal"  data-target="#sum_data" aria-expanded="false" aria-controls="table-of-results">
                  Top-ten items, materal comp</button>
                <button class="btn bg-info p-2 text-white border-white" style="white-space: normal;" role="button" data-toggle="modal" data-target="#cites_samples" aria-expanded="false" aria-controls="">
                  List of locations, avg pcs/m<sup>2</sup></button>
              </div>
            </div>

          <button class="btn bg-info w-100 p-2 pl-3 text-white text-left border-white" style="height:10%" role="button" data-toggle="modal" data-target="#water_search" aria-expanded="false" aria-controls="">
            Search by city, body of water or project</button>
        </div>


      </div>
    </div>
    <div class="col-sm-4 " style:"height:100%">
      <div class="card pb-0" id="map-of-locations" style="height:100%; min-height:440px;">
         <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
           <i class="fa fa-map fa-lg "></i>&nbsp; Survey locations : {{ city }}
         </div>
         <div class="card-body p-0" style="height:100%" >
           <h6 class="card-title" style=""> Map of beach litter surveys for: {{ city }}
             <br><small class="text-muted">Units= pcs/m<sup>2</sup>, circle size relative to avg pcs/m<sup>2</sup>
             <br> Use buttons below to select major categories.</small></h6>
           <div id="map" style="height:84%; width:100%"></div>
         </div>
      </div>
    </div>
    <div class="col-sm-4 " style="height:100%">
      <div class="card pb-0" id="time-series-chart" style="height:98%">
        <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
          <i class="fa fa-line-chart fa-lg "></i>&nbsp; {{ city }} Results by day and location
        </div>
        <div class="card-body p-0" style="height:100%">
          <h6 class="card-title" style="">{{ city }} vs all other SLR surveys surveys
            <br><small class="text-muted">Click and drag in chart area to zoom date
            <br>Surveys greater than 10 pcs/m<sup>2</sup> of this locations max value not shown</small></h6>
          <div class="" style="height:88%;width:100%" id="combined-ts"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100"id="inventory">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">All MLW codes indentified for locations in this summary<br>
          <small class="text-muted">Units = pieces of trash</small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <td colspan="3" class="bg-info text-white"> All items included in this summary
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </td>
            </tr>
            <tr>
              <th>Item</th>
              <th class="text-center p-1">Code</th>
              <th class="text-center p-1">Quantity</th>
            </tr>
          </thead>
          {% for s in inventory %}
          <tr class="txt-12">
            <td class="pl-2">{{ s.description }}</td>
            <td class= "text-center p-1">{{ s.code }}
            <td class="text-center p-1">{{ s.total|floatformat:0 }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3" class="bg-info text-white"> End of inventory
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100"id="cites_samples">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">"Location", "average pcs/m<sup>2</sup>" and "number of samples"<br>
          <small class="text-muted">For all locations included in this summary </small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <th>Location</th>
              <th>pcs/m<sup>2</sup></th>
              <th>N<sup>o</sup> of samples</th>
            </tr>
          </thead>
          {% for r in locs_samples %}
          <tr class="txt-12 ">
            <td>{{ r.location_id }}</td>
            <td class="text-right">{{ r.density|floatformat:2 }} pcs/m<sup>2</sup></td>
            <td class="text-right"> {{ r.sample|floatformat:0 }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100"id="top_ten">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Top ten MLW codes identified<br>
          <small class="text-muted"> By number of pieces of trash </small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <th>Item</th>
              <th  class= "text-center p-1">Code</th>
              <th  class= "text-center p-1">Quantity</th>
            </tr>
          </thead>
          {% for s in city_top_ten %}
          <tr class="txt-12">
            <td class="pl-2">{{ s.description }}</td>
            <td class= "text-center p-1">{{ s.code }}
            <td class="text-center p-1">{{ s.total }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sum_data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">The top-ten items indentified from all samples : {{ city }}.<small class="text-mutted">
        <br>REMEMBER: these are the reported observations of people in your community
        <br>Units are "pieces", the description and code are Marine Litter Watch</small>
        </h6>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h6>Table of results: sorted by material type
                <br><small class="text-muted">Material class taken from MLW guide
                <br>Material class is given with the item code</small></h6>
              </div>
              <table class="table-striped table table-sm">
                <thead class="">
                  <tr class="p-1 pl-2 text-left">
                    <th class="">Material</th>
                    <th class="">Quantity</th>
                    <th class="">Percent of total</th>
                  </tr>
                </thead>
                  {% for s, v in mk_pers.items %}
                <tr class="p-1 pl-2 text-left">
                  <td class="">{{ s }}</td>
                  <td class="text-right"> {{ v.0|floatformat:0|intcomma }} </td>
                  <td class="text-right"> {{ v.1|floatformat:0|intcomma }}% </td>

                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h6>Table of results: ten most indentified objects
                <br><small class="text-muted">Object description sourced from MLW guide
                  <br>Object description is provided with the item code</small></h6>
              </div>
              <table class="table-striped table table-sm">
                <thead class="">
                  <tr class="p-1 pl-2 text-left">
                    <th><small class="font-weight-bold">Item</small></th>
                    <th class=""><small class="">Material</small></th>
                    <th class=""><small class="">Qty</small></th>
                    <th class=""><small class="">% total</small></th>
                  </tr>
                </thead>
                {% for s in city_top_ten %}
                <tr class="p-1 pl-2 text-left">
                  <td class=""><small>{{ s.description }}</small></td>
                  <td class=""> <small>{{ s.material }}</small></td>
                  <td class="text-right "><small>{{ s.total|floatformat:0|intcomma }}</small></td>
                  <td class="text-right "><small>{{ s.per|floatformat:0|intcomma }}%</small></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sun_shine">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">All items identified for {{ city }}</h6>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <th class="text-left">Item</th>
              <th class="text-left">Material</th>
              <th class="text-center p-1">Code</th>
              <th class="text-center p-1">Quantity</th>
            </tr>
          </thead>
          {% for s in inventory %}
          <tr class="txt-12">
            <td class="text_left">{{ s.description }}</td>
            <td class="text-left"> {{ s.material }}</td>
            <td class= "text-center">{{ s.code }}</td>
            <td class="text-right">{{ s.total|floatformat:0|intcomma }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3" class="bg-info text-white"> End of inventory
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100" id="water_search">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <div class="container-fluid">
          <h5 class="">The search is limted to cities and lakes/rivers that have registered surveys<br>
          <small class="text-white">If you would like to have a project listed here, contact us.</small></h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div class="card " style="">
            <h5 class="card-title">Pick a city</h5>
            <div class="card-body">
              <form class="d-inline-block mb-1" action='/dirt/search_city/' method='get'>
                <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                <select class="form-control-sm d-inline-block mr-2" style="width:160px" name='city'>
                  {% for x in all_cities %}
                  <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                  {% endfor %}
                </select>
                <button class="d-inline-block btn  txt-14 p-1" style="background-color:transparent; border-color:black; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
              </form>
              <div class="card-text"><small>* Get all results from a city</small></div>
            </div>
          </div>
          <div class="card " style="">
            <h5 class="card-title">Pick a  body of water</h5>
            <div class="card-body">
              <form class="d-inline-block mb-1" action='/dirt/search_water/' method='get'>
                <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                <select class="form-control-sm d-inline-block mr-2"style="width:160px" name='water'>
                  {% for x in all_water %}
                  <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                  {% endfor %}
                </select>
                <button class="d-inline-block btn txt-14 p-1" style="background-color:transparent; border-color:black; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
              </form>
              <div class="card-text"><small>* Get all results from a river or lake </small></div>
            </div>
          </div>
          <div class="card " style="">
            <h5 class="card-title">Pick a  project</h5>
            <div class="card-body">
              <div class="container-fluid p-0 m-0">
                <div class="btn-toolbar mb-1">
                  <div class="btn-group">
                    <a class="btn bg-info text-white mt-1 p-2 border-white"  style="white-space: normal;" href="{% url 'slr_home' %}" aria-expanded="false" aria-controls="">
                      SLR</a>
                    <a class="btn bg-info text-white mt-1 p-2 border-white" style="white-space: normal;" href="{% url 'mcbp_home' %}" aria-expanded="false" aria-controls="table-of-results">
                      MCBP</a>
                      <a class="btn bg-info text-white mt-1 p-2 border-white" style="white-space: normal;" href="{% url 'hdc_home' %}" aria-expanded="false" aria-controls="table-of-results">
                        HDC</a>
                  </div>
                </div>
              </div>
              <div class="card-text"><small>* SLR results given in m<sup>2</sup></small></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block charts %}
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!-- <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script> -->
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<script type="text/javascript">

var map_points = {{ map_points|safe }};
var plot_all = {{ plot_all|safe }}
var locs_samples = {{ locs_samples|safe }};
var plot_data = {{ plot_density|safe }}
var ceiling = {{ ceiling|safe}}

var ts_plot = [];
plot_data.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density2 = parseFloat(element.density2);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element.location_id, "x":element.date, "y":element.density2});
  }
});

var slr_plot = [];
plot_all.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density2 = parseFloat(element.density2);
  var today = new Date();
  if (element.date < today){
    slr_plot.push({"name":element.location_id, "x":element.date, "y":element.density2});
  }
});

var map;
var styledMapType;
function initMap() {
  styledMapType = new google.maps.StyledMapType([
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#00cdff"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
],
{name:'Beach litter surveys: {{ city }}'});
  map = new google.maps.Map(document.getElementById('map'), {
    zoom:8,
    // center: {lat: map_points[0][0], lng: map_points[0][1]},
    minZoom:5,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,

  });
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');

  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  var markers = [];
  bounds  = new google.maps.LatLngBounds();

  for (i = 0; i < map_points.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(map_points[i][0], map_points[i][1]),
      map: map,

      icon:  {
        path: google.maps.SymbolPath.CIRCLE,
        scale: Math.sqrt(map_points[i][2])*5,
        fillColor: 'rgb(255, 65, 168)',
        strokeColor: 'rgb(255, 00, 00)',
        fillOpacity:0.6,
        strokeOpacity:1,
        strokeWeight:2,
      },



    });
    loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
    bounds.extend(loc);
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  map_points[i][6] + '</p>'+
    '<ul><li>City: ' + map_points[i][4] +'</li><li> Postal Code: ' + map_points[i][3] + '</li><li>Average pcs/m²: ' + map_points[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    map_points[i][5] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));
    markers.push(marker);

    map.mapTypes.set('styled_map', styledMapType);
    map.fitBounds(bounds);
    map.panToBounds(bounds);


    map.setMapTypeId('styled_map');
    map.setMapTypeId('styled_map');


  };

   };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&callback=initMap"  async defer> </script>
<script type="text/javascript">
Highcharts.chart('combined-ts', {
    chart: {
        type: 'scatter',
        plotBorderWidth:0,
        spacingBottom: 20,
        zoomType: 'x',
        style: {
          fontFamily: 'sans-serif',
        }
    },
    title: {
        text: null,
        style:{
          fontSize: '16px',
          color:'#0A2E5C',

        },
    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'left',
      layout:'vertical',
      floating:true,
      x:-50,
      y:10,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:1,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: 14,
        fontWeight: 'bold',
      }
    },
    xAxis: {
      type: 'datetime',
      tickInterval:3600*1000*24*28*2,
      labels: {
        style: {
          color:'rgba(00, 00, 00, 1)'
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %Y',
      },
    },
    yAxis: {
        title: {
            align: 'low',
            offset: 40,
            text: 'Pieces of trash per meter²',
            style:{
              fontSize: '12px',
              color:'#000000',
            },
        },
        // gridLineColor:'rgba(10, 46, 92, .1)',
        labels:{
          style: {
            color:'rgba(00, 00, 00, 1)'
          }
        },
        minorTickInterval: 2,
        minorGridLineColor: 'rgba(00, 00, 00, .1)',
        minorGridLineDashStyle: 'longdash',
        minorTickColor: 'rgba(00, 00, 00, .4)',
        minorTickLength: 4,
        minorTickWidth: 1,
        tickInterval: 8,
        min: 2,
        ceiling: ceiling,

    },
    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m²'
    },
    plotOptions:{
      series: {
        turboThreshold: 2000
      }
    },
    series: [{
      zIndex:3,
      type: 'scatter',
      name:'All other surveys',
      marker: {
        symbol: 'circle',
        radius:6,
        lineColor: 'rgba(255, 255, 255, .8)',
        fillColor:  'rgba(10, 46, 92, .6)',
        lineWidth:1,
      },
      data:slr_plot,

    },{
      zIndex:3,
      type: 'scatter',
      name:'{{ city }} results',
      marker: {
        symbol: 'circle',
        radius:6,
        fillColor: 'rgba(255, 65, 168, .6)',
        lineColor: 'rgba(255, 00, 00, .8)',
        lineWidth:2,
      },
      data:ts_plot,

    }
  ],
  }
);
</script>


{% endblock %}
