{% extends "dirt/temp_one.html" %}

{% block style %}

.charts {
  width:400px;
}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}
.bg-black {
  background-color: #000000;
}

.bg-red {
  background-color: rgba(199, 31, 22, 1);

}

.txt-14 {
  font-size: 14px;
}
.wide-88 {
  width:88px;
  height:88px;
}
.m-w-376{
  min-width: 376px;
}


.col-sm, .col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
{% endblock %}
{% block return_to %}
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container-fluid p-0 m-0" style="height:100vh; overflow:auto">
  <div class="row no-gutters border border-danger" style="height:100%">
    <div class="col-sm-4" style="">
      <div class="card pb-0 p-1" style="height:100%">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Keep it clean</h5>
        </div>
        <div class="card-body p-1" style="height:100%">
          <h6 class="card-title pt-1" style="">How clean is your beach?
            <br><small class="text-muted">We will remove the beach litter from your property
            <br>Support our longest running project</small></h6>
          <p>Data collection is often considered a cost. However when the data collection involves removing trash from the shoreline there is a guaranteed value.</p>
          <ul>
            <li>We remove the trash from the shoreline</li>
            <li>Prepare a report for you detailing how your property compares to other locations</li>
            <li>The data collected becomes part of the long-term beach litter study</li>
          </ul>
          <p>Revenue from these activities is used to compensate hammerdirt staff, pay for costs associated with the project and to conduct operations on public shorelines.</p>
          <p>There is a flat rate of CHF 350 for shoreline less than 60 meters anywhere on the Lake. Disounts if more than 6 inventories are purchased. Prices vary for California operations</p>
          <p>Interested ? email us</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0 p-1" style="" id="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Research partners</h5>
        </div>
        <div class="card-body p-0 pt-1" style="">
          <h6 class="card-title" style="">In the field and the lab
            <br><small class="text-muted">Independent and equiped for a variety of assignments
            <br>Able to manage projects on a large scale</small></h6>
          <p>Do you need qualified staff for short or long term projects? Hammerdirt staff work together regularly, we have our own communications and project management protocols allowing us to integrate quickly into larger teams</p>
          <p>Furthermore hammerdirt staff regularly (daily) use the follwoing programing languages and frameworks:</p>
          <ul>
            <li>Python, pandas, matplotlib, scikit-learn, django, twisted</li>
            <li>JavaScript, D3, D4, highcharts</li>
            <li>CSS Bootstrap, HTML5</li>
            <li>Linux/unix server administration</li>
            <li> Android OS</li>
          </ul>
          <p>All team members speak english fluently, and for the most part we are all bilingual (french, german)</p>
          <p> A force multiplier for your projects</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0 p-1" style="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">Standalone modules</h5>
        </div>
        <div class="card-body p-1" style="">
          <h6 class="card-title pt-1" style="">Your research your data
            <br><small class="text-muted">Create modules using your content
            <br>similar to the water quality and beach litter moduels</small></h6>
          <p>Our modules can be integrated into larger projects or applications. Wether we use a containerirzed version or work with your developers to integrate directly into your platform</p>
        </div>
      </div>
      <div class="card pb-0 p-1" style="">
        <div class="bg-info text-white card-header p-2 pl-3 text-left " id="" style="">
          <h5 class="w-100 text-white">About</h5>
        </div>
        <div class="card-body p-1" style="">
          <h6 class="card-title pt-1" style="">Environmental and social justice
            <br><small class="text-muted">hammerdirt staff are dedicated to preserving our natural environment
            <br>Focus on reserach</small></h6>
          <p>Hammerdirt started by a simple obervation.  Since we have grown into a network of individuals linked by our desire to ensure social and environemental justice through research.</p>
          <p>Characterized by actions that are discrete but to the point, we don't want the glory --- we just want to make a difference.</p>
          <h5> Can you hammerdirt ?</h5>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}


{% block charts %}
{% load static %}



{% endblock %}
