{% extends "dirt/temp_one.html" %}

{% block style %}

.charts {
  width:400px;
}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}
.bg-black {
  background-color: #000000;
}

.bg-red {
  background-color: rgba(199, 31, 22, 1);

}

.txt-14 {
  font-size: 14px;
}
.wide-88 {
  width:88px;
  height:88px;
}
.m-w-376{
  min-width: 376px;
}


.col-sm, .col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
{% endblock %}
{% block return_to %}
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container-fluid p-0 m-0" style="height:100vh; overflow:auto">
  <div class="row no-gutters border" style="height:100%">
    <div class="col-sm-4" style="">
      <div class="card pb-0" style="height:100%">
        <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
          <i class="fa fa-th-list fa-lg"></i>&nbsp; Summary : {{ city }}
        </div>
        <div class="card-body p-0" style="height:100%">
          <h6 class="card-title pt-1" style="">Summary data for the Swiss Litter Report
            <br><small class="text-muted">April 2017 - April 2018
            <br>units= m<sup>2</sup>, why are we reporting less than the SLR? <a href="https://github.com/hammerdirt/notes/blob/master/notes-hammerdirt.ch/slr_final.ipynb">check</a></small></h6>
          <table class="table table-sm table-striped text-left pb-0"  style="height:62%">
            <tbody>
                <td class="ml-auto">N<sup>o</sup> of Samples:</td>
                <td class="mr-auto">{{ summary.num_samps|floatformat:0|intcomma }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of locations:</td>
                <td class="mr-auto">{{ num_locs|floatformat:0 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of rivers - lakes:</td>
                <td class="mr-auto">{{ num_rivers|floatformat:0 }} - {{ num_lakes|floatformat:0 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">First sample date:</td>
                <td class="mr-auto">{{ summary.first|date:"M Y" }}</td>
              </tr>
              <tr>
                <td class="ml-auto">Most recent sample:</td>
                <td class="mr-auto">{{ summary.last|date:"M Y" }}</td>
              </tr>
              <tr>
                <td class="ml-auto">N<sup>o</sup> of pieces of garbage:</td>
                <td class="mr-auto">{{ summary.total|floatformat:0|intcomma }}</td>
              </tr>
              <tr>
                <td class="ml-auto">Avg pieces/meter<sup>2</sup>:</td>
                <td class="mr-auto">{{ summary.ave_dense|floatformat:2 }}pcs/m<sup>2</sup> </td>
              </tr>
              <tr>
                <td class="ml-auto">Standard deviation:</td>
                <td class="mr-auto">{{ summary.stan_dev|floatformat:2 }}</td>
              </tr>
              <tr>
                <td class="ml-auto">75<sup>th</sup> percentile:</td>
                <td class="mr-auto"> {{ summary.seven_five|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
              <tr>
                <td class="ml-auto">Min - Max pcs/m<sup>2</sup>:</td>
                <td class="mr-auto"> {{ summary.min_dense|floatformat:4 }} - {{ summary.max_dense|floatformat:2 }} pcs/m<sup>2</sup></td>
              </tr>
            </tbody>
          </table>
          <div class="btn-toolbar w-100 " style="">
            <div class="btn-group w-100 " style="">
              <button class="btn bg-info w-100 text-white p-2 pl-3 border-white" style="white-space:normal; height:100%" data-toggle="modal"  data-target="#library" aria-expanded="false" aria-controls="table-of-results">
                Reading list
              </button>
              <button class="btn bg-info w-100 text-white p-2 pl-3 border-white" style="white-space:normal; height:100%" data-toggle="modal"  data-target="#goals" aria-expanded="false" aria-controls="table-of-results">
                Objectives
              </button>
              <button class="btn bg-info w-100 text-white p-2 pl-3 border-white" style="white-space:normal; height:100%" data-toggle="modal" data-target="#finance" aria-expanded="false" aria-controls="table-of-results">
                Finances
              </button>
            </div>
          </div>
          <button class="btn bg-info w-100 p-2 pl-3 text-white text-left border-white" style="height:8%" data-toggle="modal"  data-target="#list_o_lakes" aria-expanded="false" aria-controls="table-of-results">
            List of rivers/lakes and locations
          </button>
          <button class="btn bg-info w-100 p-2 pl-3 text-white text-left border-white" style="height:8%" role="button" data-toggle="modal" data-target="#list_o_cities" aria-expanded="false" aria-controls="">
            List of cities and locations
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0" style="height:100%" id="map-of-locations">
          <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
            <i class="fa fa-map fa-lg "></i>&nbsp;Map of SLR locations
          </div>
          <div class="card-body p-0 pt-1" style="height:100%; ">
            <h6 class="card-title" style="">Locations of the SLR samples
              <br><small class="text-muted">April 2017 - April 2018
              <br>Circle size relative to avg pcs/m<sup>2</sup></small></h6>
              <div id="maps" style="height:68%;min-height:390px"></div>
              <div class="bg-black text-white card-header" id="" style="">
                  <form class="d-inline-block" action='search_SLR/' method='get'>
                    <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                    <select class="form-control-sm d-inline-block mr-2"style="width:180px" name='q'>
                      {% for x in slr_cities %}
                      <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                      {% endfor %}
                    </select>
                    <button class="d-inline-block btn btn-outline-light text-white txt-14 p-1" style="background-color:transparent; border-color:white; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
                  </form>
              </div>
              <div class="btn-toolbar" >
                <div class="btn-group" style="height:10%">
                  <button class="btn bg-info text-white p-2 border-white"  style="white-space: normal;" data-toggle="modal" data-target="#sun_shine" aria-expanded="false" aria-controls="">
                    All items identified</button>
                  <button class="btn bg-info text-white p-2 border-white" style="white-space: normal;" data-toggle="modal"  data-target="#sum_data" aria-expanded="false" aria-controls="table-of-results">
                    Top-ten items, materal comp</button>
                  <button class="btn bg-info p-2 text-white border-white" style="white-space: normal;" role="button" data-toggle="modal" data-target="#cites_samples" aria-expanded="false" aria-controls="">
                    List of locations, avg pcs/m<sup>2</sup></button>
                </div>
              </div>

            </div>
          </div>


    </div>
    <div class="col-sm-4" style="">
      <div class="card pb-0" id="time-series-chart" style="height:100%">
        <div class="bg-info text-white card-header p-2 pl-3" id="" style="">
          <i class="fa fa-line-chart fa-lg "></i>&nbsp; Inventory results by day
        </div>
        <div class="card-body p-0 pt-1 " style=""><h6 class="card-title" style="">All SLR daily results
          <br><small class="text-muted">April 2017 - April 2018, toggle categories in legend
          <br>Monthly summaries, click and drag in chart area to zoom date
          <br>Results over 20 pieces m<sup>2</sup> not shown</small></h6>

          <div class="align-self-center"  style="height:61%; min-height:380px" id="box-plot"></div>
          <button class="btn bg-info w-100 p-2 pl-3 text-white text-left mt-1" style="height:10%" data-toggle="modal"  data-target="#box_rivs_lakes" aria-expanded="false" aria-controls="table-of-results">
            <i class="fa fa-line-chart fa-lg "></i>&nbsp; Results sorted by river and lakes
          </button>
          <button class="btn bg-info w-100 p-2 pl-3 text-white text-left border-white" style="height:10%" role="button" data-toggle="modal" data-target="#water_search" aria-expanded="false" aria-controls="">
            Search by city, body of water or project</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade w-100" id="sun_shine">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">All items identified from the Swiss Litter Report {{ summary.last|date:"M Y" }}</h6>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <th class="text-left">Item</th>
              <th class="text-left">Material</th>
              <th class="text-center p-1">Code</th>
              <th class="text-center p-1">Quantity</th>
            </tr>
          </thead>
          {% for s in inventory %}
          <tr class="txt-12">
            <td class="text_left">{{ s.description }}</td>
            <td class="text-left"> {{ s.material }}</td>
            <td class= "text-center">{{ s.code }}</td>
            <td class="text-right">{{ s.total|floatformat:0|intcomma }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4" class="bg-info text-white"> End of inventory
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100" id="sum_data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">The top-ten items indentified from all samples.<small class="text-mutted">
        <br>REMEMBER: these are the reported observations of people in your community
        <br>Units are "pieces", the description and code are Marine Litter Watch</small>
        </h6>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h6>Table of results: sorted by material type
                <br><small class="text-muted">Material class taken from MLW guide
                <br>Material class is given with the item code</small></h6>
              </div>
              <table class="table-striped table table-sm">
                <thead class="">
                  <tr class="p-1 pl-2 text-left">
                    <th class="">Material</th>
                    <th class="">Quantity</th>
                    <th class="">Percent of total</th>
                  </tr>
                </thead>
                  {% for s, v in mk_pers.items %}
                <tr class="p-1 pl-2 text-left">
                  <td class="">{{ s }}</td>
                  <td class="text-right"> {{ v.0|floatformat:0|intcomma }} </td>
                  <td class="text-right"> {{ v.1|floatformat:0|intcomma }}% </td>

                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h6>Table of results: ten most indentified objects
                <br><small class="text-muted">Object description sourced from MLW guide
                  <br>Object description is provided with the item code</small></h6>
              </div>
              <table class="table-striped table table-sm">
                <thead class="">
                  <tr class="p-1 pl-2 text-left">
                    <th><small class="font-weight-bold">Item</small></th>
                    <th class=""><small class="">Material</small></th>
                    <th class=""><small class="">Qty</small></th>
                    <th class=""><small class="">% total</small></th>
                  </tr>
                </thead>
                {% for s in top_ten %}
                <tr class="p-1 pl-2 text-left">
                  <td class=""><small>{{ s.description }}</small></td>
                  <td class=""> <small>{{ s.material }}</small></td>
                  <td class="text-right "><small>{{ s.total|floatformat:0|intcomma }}</small></td>
                  <td class="text-right "><small>{{ s.per|floatformat:0|intcomma }}%</small></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100"id="cites_samples">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">"Location", "average pcs/m<sup>2</sup>" and "number of samples"<br>
          <small class="text-muted">For all locations included in this summary </small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table-striped table table-sm">
          <thead class="txt-14">
            <tr>
              <th>Location</th>
              <th>pcs/m<sup>2</sup></th>
              <th>N<sup>o</sup> of samples</th>
            </tr>
          </thead>
          {% for r in locs_samples %}
          <tr class="txt-12 ">
            <td class="text-left" >{{ r.location_id }}</td>
            <td class="text-right" >{{ r.density2|floatformat:2}}</td>
            <td class="text-right"> {{ r.sample|floatformat:0 }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3" class="bg-info text-white"> End of inventory
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade w-100"id="library">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">List of resources used for the planning of this project<br>
          <small class="text-muted">This list is not comprehensive</small>
        </h5>
        <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          {% for a, b in books.items %}
          <tr class="">
            <td class="font-weight-bold">{{ a }}:</td>
          </tr>
          {% for tome in b %}
          <tr class="txt-12">
            <td>{{ tome.title }}</td>
            <td> {{ tome.author }}</td>
            <td> {{ tome.abstract }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade w-100" style="" id="goals">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">Objectives</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body ">
       <p> Goals: Quantify the littering amount in the natural environment near waterbodies and promote solutions to avoid it.</p>
       <p> Objectives: </p>
       <ul>
         <li>Demonstrate the occurrence of litter along shorelines</li>
         <li>Identify distribution patterns of litter along shorelines</li>
         <li>Raise public awareness</li>
         <li>Use data for policy work/lobbying for appropriate regulations to avoid litter in the natural environment near water-bodies</li>
       </ul>
       <p>Methods:</p>
       <ul>
         <li>Litter collections took place from April 2017 to March 2018 all over Switzerland.</li>
         <li>Collections follow a protocols designed by European Environment Agency (EEA); United Nations Environmental Program (UNEP) and OSPAR commission</li>
         <li>Individual litter items were classified by litter categories and material using the Marine Litter Watch App</li>
         <li>Only litter items above 2.5cm are considered</li>
       </ul>
     </div>
   </div>
 </div>
</div>
<div class="modal fade w-100" style="" id="finance">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">Finance</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body ">
      <p>No information provided</p>
     </div>
   </div>
 </div>
</div>
<div class="modal fade w-100" style="" id="list_o_lakes">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">List of cities with SLR surveys</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body ">
      <dl class="row">
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">List of survey locations</dd>
      </dl>
      <dl class="row">
        {% for s, t in slr_river.items  %}
        <dt class="col-sm-3">{{ s }}</dt>
        <dd class="col-sm-9">{{ t|join:", " }} </dd>
        {% endfor %}
      </dl>
     </div>
   </div>
 </div>
</div>
<div class="modal fade w-100" style="" id="list_o_cities">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">Cities with surveys in the Swiss Litter Report</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body ">
       <dl class="row">
         <dt class="col-sm-3">City</dt>
         <dd class="col-sm-9">List of survey locations</dd>
       </dl>
       <dl class="row">
         {% for s, t in city_locs.items  %}
         <dt class="col-sm-3">{{ s }}</dt>
         <dd class="col-sm-9">{{ t|join:", " }} </dd>
         {% endfor %}
       </dl>
     </div>
   </div>
 </div>
</div>
<div class="modal fade w-100" style="" id="box_rivs_lakes">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="card-title" style="">SLR results sorted by rivers and lakes
         <br><small class="text-muted mb-2">April 2017 - April 2018, toggle categories in legend
         <br>Monthly summaries, click and drag in chart area to zoom date
         <br>Results greater than 20 pieces m<sup>2</sup> not shown</small></h6>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body ">
      <div class="align-self-center" style="height:100%; width:100%" id="riv-lake"></div>
     </div>
   </div>
 </div>
</div>
<div class="modal fade w-100" id="water_search">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <div class="container-fluid">
          <h5 class="">The search is limted to cities and lakes/rivers that have registered surveys<br>
          <small class="text-white">If you would like to have a project listed here, contact us.</small></h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div class="card " style="">
            <h5 class="card-title">Pick a city</h5>
            <div class="card-body">
              <form class="d-inline-block mb-1" action='/dirt/search_city/' method='get'>
                <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                <select class="form-control-sm d-inline-block mr-2" style="width:160px" name='city'>
                  {% for x in all_cities %}
                  <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                  {% endfor %}
                </select>
                <button class="d-inline-block btn  txt-14 p-1" style="background-color:transparent; border-color:black; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
              </form>
              <div class="card-text"><small>* Get all results from a city</small></div>
            </div>
          </div>
          <div class="card " style="">
            <h5 class="card-title">Pick a  body of water</h5>
            <div class="card-body">
              <form class="d-inline-block mb-1" action='/dirt/search_water/' method='get'>
                <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                <select class="form-control-sm d-inline-block mr-2"style="width:160px" name='water'>
                  {% for x in all_water %}
                  <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                  {% endfor %}
                </select>
                <button class="d-inline-block btn txt-14 p-1" style="background-color:transparent; border-color:black; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
              </form>
              <div class="card-text"><small>* Get all results from a Swiss river or lake </small></div>
            </div>
          </div>
          <div class="card " style="">
            <h5 class="card-title">Pick a  project</h5>
            <div class="card-body">
              <div class="container-fluid p-0 m-0">
                <div class="btn-toolbar mb-1">
                  <div class="btn-group">
                    <a class="btn bg-info text-white mt-1 p-2 border-white"  style="white-space: normal;" href="{% url 'slr_home' %}" aria-expanded="false" aria-controls="">
                      SLR</a>
                    <a class="btn bg-info text-white mt-1 p-2 border-white" style="white-space: normal;" href="{% url 'mcbp_home' %}" aria-expanded="false" aria-controls="table-of-results">
                      MCBP</a>
                      <a class="btn bg-info text-white mt-1 p-2 border-white" style="white-space: normal;" href="{% url 'hdc_home' %}" aria-expanded="false" aria-controls="table-of-results">
                        HDC</a>
                     <a class="btn bg-info text-white mt-1 p-2 border-white" style="white-space: normal;" href="{% url 'precious' %}" aria-expanded="false" aria-controls="table-of-results">
                        PC</a>
                  </div>
                </div>
              </div>
              <div class="card-text"><small>* SLR results given in m<sup>2</sup></small></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}


{% block charts %}
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
var map_points = {{ map_points|safe }};
// var box_cats = {{ box_cats|safe }};
var boxer = {{ box_plot|safe }};
var plot_data = {{ plot_density|safe }};
var river = {{ rivers|safe }};
var lake = {{ lakes|safe }};
var box_lake = {{ box_lake|safe }};
var box_river = {{ box_river|safe }};

var ts_plot = [];
plot_data.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density2 = parseFloat(element.density2);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element.location_id, "x":element.date, "y":element.density2});
  }
});
var riv_dens = []
river.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density2 = parseFloat(element.density2);
  riv_dens.push ({"name":element.location_id, "x":element.date, "y":element.density2})
});

var lak_dens = []
lake.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density2);
  lak_dens.push ({"name":element.location_id, "x":element.date, "y":element.density2})
});

var river_box = [];
box_river.forEach(function(element){
  element[0] = Date.parse(element[0]);
  river_box.push([element[0], element[1], element[2], element[3], element[4], element[5]])
});

var lake_box = [];
box_lake.forEach(function(element){
  element[0] = Date.parse(element[0]);
  lake_box.push([element[0], element[1], element[2], element[3], element[4], element[5]])
});

var all_box = [];
boxer.forEach(function(element){
  element[0] = Date.parse(element[0]);
  all_box.push([element[0], element[1], element[2], element[3], element[4], element[5]])
});


</script>
<script type="text/javascript">
var map;
var styledMapType;
function initMap() {
  styledMapType = new google.maps.StyledMapType([
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#00cdff"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
],
{name:'SLR locations'});
  map = new google.maps.Map(document.getElementById('maps'), {
    zoom:7,
    center: {lat: 46.83, lng: 8.23},
    minZoom:7,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,

  });
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');

  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  var markers = [];

  for (i = 0; i < map_points.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(map_points[i][0], map_points[i][1]),
      map: map,
      // label:{
      //   fontFamily: 'Fontawesome',
      //   text: '\uf1f8',
      //   fontSize: '20px',
      //   color: 'white'
      // },
      icon:  {
        path: google.maps.SymbolPath.CIRCLE,
        scale: Math.sqrt(map_points[i][2])*5,
        fillColor: 'rgb(255, 65, 168)',
        strokeColor: 'rgb(255, 00, 00)',
        fillOpacity:0.6,
        strokeOpacity:1,
        strokeWeight:2,
      },


    });
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  map_points[i][6] + '</p>'+
    '<ul><li>City: ' + map_points[i][4] +'</li><li> Postal Code: ' + map_points[i][3] + '</li><li>Average pcs/m²: ' + map_points[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    map_points[i][5] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));
    markers.push(marker);
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

  };
  // var markerCluster = new MarkerClusterer(map, markers,
  //     {imagePath: "{% static '/images/m' %}"});
   };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&callback=initMap"  async defer> </script>

</script>
<script type="text/javascript">
Highcharts.chart('box-plot', {

    chart: {
        type: 'boxplot',
        zoomType:'x',
        spacingBottom: 20,
    },

    title: {
        text: '',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: '',
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'left',
      layout:'vertical',
      floating:true,
      x:120,
      y:60,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:2,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: '10px',
      },
    },
    plotOptions:{
      boxplot:{
        fillColor:'rgba(10, 46, 92, 1)',
        lineColor: 'rgba(00, 00, 00, 1)',
        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },

    xAxis: [{
        // categories:box_cats,
        type: 'datetime',
        min: Date.UTC(2017, 03, 21),
        tickColor:'rgba(00, 00, 00, 1)',
        tickInterval:3600*1000*24*28,
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,

    },

  ],
    yAxis: {
      min:0,
      max:50,
      ceiling:20,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter²',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },

    series:
    [{
      zIndex:3,
      xAxis:0,
      type: 'boxplot',
      name: 'Monthly summary',
      data: all_box,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:2,
      xAxis:0,
      type: 'scatter',
      name:'Survey results',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(255, 0, 0, .4)',
        fillColor:  'rgba(255, 65, 168, .4)',
        lineWidth:1,
      },
      data:ts_plot,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m²'
      },
    },

    ]

});
</script>
<script type="text/javascript">
Highcharts.chart('riv-lake', {

    chart: {
        type: 'boxplot',
        zoomType:'x',
        spacingBottom: 20,
    },

    title: {
        text: '',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: '',
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'bottom',
      align: 'center',
      layout:'horizontal',
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .4)',
      borderWidth:1,
      padding:8,
      margin:12,
      width:380,
      itemMarginBottom:2,
      itemDistance: 4,
      itemWidth:90,
      itemStyle:{
        color: 'black',
        fontSize: '10px',

      },
    },
    plotOptions:{
      boxplot:{
        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },
    xAxis: [{
        type: 'datetime',
        min: Date.UTC(2017, 03, 21),
        tickColor:'rgba(00, 00, 00, 1)',
        tickInterval:3600*1000*24*28,
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,

    },
    ],
    yAxis: {
      min:0,
      max:85,
      ceiling:20,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter²',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },
    series:
    [{
      zIndex:3,
      fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'Lakes-monthly',
      data: lake_box,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },
    },
    {
      zIndex:3,
      fillColor:'rgba(10, 46, 92, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(10, 46, 92, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'Rivers-monthly',
      data: river_box,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },
    },
    {
      zIndex:2,
      xAxis:0,
      type: 'scatter',
      name:'Lake-daily',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(255, 00, 00, .4)',
        fillColor:  'rgba(255, 65, 168, .4)',
        lineWidth:1,
      },
      data:lak_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m²'
      },
    },
    {
      zIndex:2,
      xAxis:0,
      type: 'scatter',
      name:'River-daily',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(255, 00, 00, .4)',
        fillColor:  'rgba(255, 65, 168, .4)',
        lineWidth:1,
      },
      data:riv_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m²'
      },
    },
  ]
});
</script>


{% endblock %}
