{% extends "dirt/temp_one.html" %}

{% block style %}

.charts {
  width:400px;
}
.td_site-results {
 padding: 1px;
 font-size: 14px;
}
.txt-12 {
  font-size: 12px;
}
.bg-black {
  background-color: #000000;
}

.bg-red {
  background-color: rgba(199, 31, 22, 1);

}

.txt-14 {
  font-size: 14px;
}
.wide-88 {
  width:88px;
  height:88px;
}
.m-w-376{
  min-width: 376px;
}


.col-sm, .col-sm-4 {
  padding: 2px;
  min-width: 380px;
}

#time-series, #pie-chart, #normal-s, #mats_bar, #source_bar, #samps-dense{
  min-width: 360px;
  height: auto;
  padding: 0;
  margin: 0;

}
{% endblock %}
{% block return_to %}
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12" style="">
      <div id="accordion" class="w-100" role="tablist">
       <div class="card pb-0 m-w-376" id="goals-objectives">
         <div class="card-header bg-info text-white " id="" style="">
           <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse"  data-target="#GBO" aria-expanded="false" aria-controls="table-of-results">
             <i class="fa fa-plus-square fa-lg "></i>&nbsp; Goals, objectives and methods
           </a>
         </div>
          <div class="collapse " id="GBO" data-parent="#accordion">
            <div class="card-body p-1 w-100">
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#goals" aria-expanded="false" aria-controls="">
                 <i class="fa fa-th-list fa-lg "></i>&nbsp; Goals
               </a>
             </div>
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#objectives" aria-expanded="false" aria-controls="">
                 <i class="fa fa-th-list fa-lg "></i>&nbsp; objectives
               </a>
             </div>
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#methods" aria-expanded="false" aria-controls="">
                 <i class="fa fa-th-list fa-lg "></i>&nbsp; Methods
               </a>
             </div>
             <div class="modal fade" style="" id="goals">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Goals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="modal fade" style="" id="objectives">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Objectives</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="modal fade" style="" id="methods">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Methods</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
       <div class="card pb-0 m-w-376" id="data-summary">
         <div class="bg-info text-white card-header" id="" style="">
           <a class="bg-info text-white" data-toggle="collapse" data-parent="#accordion" data-target="#summary" aria-expanded="false" aria-controls="links">
             <i class="fa fa-th fa-lg"></i>&nbsp; Data summary : SLR
           </a>
         </div>
         <div class="collapse show container-fluid m-1 w-100" data-parent="#accordion" style="" id="summary">
           <div class="card-body p-1 mb-1 mt-1 justify-content-end bg-red w-100">
            <div class="d-flex flex-row justify-content-end p-0 bg-red w-100">
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">N<sup>o</sup> of Samples</p>
                </div>
               <div class="d-sm-inline-flex flex-column p-1 " >
                 <p class="text-white p-0 m-0" > {{ summary.num_samps|floatformat:0|intcomma }}</p>
               </div>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">Total pieces </p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0"> {{ summary.total|floatformat:0|intcomma }}</p>
                </div>

              </div>
            </div>
            <div class="d-flex flex-row justify-content-end p-0 bg-red">
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">First sample</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 ">
                 <p class="text-white p-0 m-0">{{ summary.first|date:"M Y" }}</p>
                </div>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                  <p class="text-white p-0 m-0">Latest sample</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                  <p class="text-white p-0 m-0">{{ summary.last|date:"M Y" }}</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-end p-0 bg-red">
             <div class="d-sm-inline-flex flex-column p-1 w-50">
               <div class="d-sm-inline-flex p-1 bg-black">
                 <p class="text-white p-0 m-0 " >Average pcs/m</p>
               </div>
               <div class="d-sm-inline-flex flex-column p-1 ">
                 <p class="text-white p-0 m-0" > {{ summary.ave_dense|floatformat:1 }} pcs/m <small> (not weighted) </small></p>
               </div>

             </div>
             <div class="d-sm-inline-flex flex-column p-1 w-50">
              <div class="d-sm-inline-flex p-1 bg-black" >
                <p class="text-white p-0 m-0">Range pcs/m range</p>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 m-0">
                <p class="text-white p-0 m-0"> {{ summary.min_dense|floatformat:1 }} - {{ summary.max_dense|floatformat:1 }} pcs/m</p>
              </div>
             </div>

            </div>
            <div class="d-flex flex-row justify-content-end p-0 bg-red">
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                 <p class="text-white p-0 m-0">Standard deviation</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                 <p class="text-white p-0 m-0"> {{ summary.stan_dev|floatformat:2 }} pcs/m</p>
                </div>
              </div>

             <div class="d-sm-inline-flex flex-column p-1 w-50">
              <div class="d-sm-inline-flex p-1 bg-black">
                <p class="text-white p-0 m-0">Innerquartile</p>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 m-0">
                <p class="text-white p-0 m-0"> {{ summary.iqr|floatformat:1 }} pcs/m</p>
              </div>
             </div>
            </div>
            <div class="d-flex flex-row justify-content-end p-0 bg-red">
              <div class="d-sm-inline-flex flex-column p-1 w-50">
                <div class="d-sm-inline-flex p-1 bg-black">
                 <p class="text-white p-0 m-0">25<sup>th</sup> percentile</p>
                </div>
                <div class="d-sm-inline-flex flex-column p-1 m-0">
                 <p class="text-white p-0 m-0"> {{ summary.two_five|floatformat:1 }} pcs/m</p>
                </div>
              </div>

             <div class="d-sm-inline-flex flex-column p-1 w-50">
              <div class="d-sm-inline-flex p-1 bg-black">
                <p class="text-white p-0 m-0">75<sup>th</sup> percentile</p>
              </div>
              <div class="d-sm-inline-flex flex-column p-1 m-0">
                <p class="text-white p-0 m-0"> {{ summary.seven_five|floatformat:1 }} pcs/m</p>
              </div>
             </div>
            </div>
           </div>
         </div>
       </div>
       <div class="card pb-0 m-w-376" id="biblio">
        <div class="card-header bg-info text-white " id="" style="">
          <a class="bg-info text-white w-100 p-1 colllapsed" data-toggle="collapse" data-parent="#accordion"  data-target="#library" aria-expanded="false" aria-controls="table-of-results">
            <i class="fa fa-plus-square fa-lg "></i>&nbsp; Bibliography
          </a>
        </div>
         <div class="collapse" id="library" data-parent="#accordion" >
           <div class="card-body p-1 w-100">
            {% for key, value in sub_key.items %}
            <div class="d-inline-block bg-black border-white rounded p-1 mb-1" id="" style="width:49%">
              <a class="text-white p-1 txt-12 " data-toggle="modal"  data-target="#{{ key }}" aria-expanded="false" aria-controls="">
                <i class="fa fa-th-list fa-lg "></i>&nbsp; {{ value }}
              </a>
            </div>
            {% endfor %}
            {% for key, value in sub_key.items %}
            <div class="modal fade" style="" id="{{ key }}">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-body ">
                  {% for r in library %}
                  {% if r.subject == key %}
                  <div class="border-bottom">
                   <p class="font-weight-bold txt-14">{{ r.title }}</p>
                   <p class="font-italic txt-14">{{ r.author }}</p>
                   <p class="txt-12">{{ r.abstract }}</p>
                  </div>
                  {% endif %}
                  {% endfor %}
                 </div>
               </div>
             </div>
            </div>
            {% endfor %}
           </div>
         </div>
       </div>
       <div class="card pb-0 m-w-376" id="money">
         <div class="card-header bg-info text-white " id="" style="">
           <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse" data-target="#finances" aria-expanded="false" aria-controls="table-of-results">
             <i class="fa fa-plus-square fa-lg "></i>&nbsp; Finances
           </a>
         </div>
          <div class="collapse " id="finances" data-parent="#accordion" >
            <div class="card-body p-1 w-100">
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#philosophy" aria-expanded="false" aria-controls="">
                 <i class="fa fa-th-list fa-lg "></i>&nbsp; Philosophy
               </a>
             </div>
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#overview" aria-expanded="false" aria-controls="">
                 <i class="fa fa-line-chart fa-lg "></i>&nbsp; Overview
               </a>
             </div>
             <div class="d-inline-block bg-black border-white rounded p-1 mb-1 w-100" id="" style="">
               <a class="text-white p-1 " data-toggle="modal"  data-target="#support" aria-expanded="false" aria-controls="">
                 <i class="fa fa-support fa-lg "></i>&nbsp; Support
               </a>
             </div>
             <div class="modal fade" style="" id="philosophy">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Revenue sources</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="modal fade" style="" id="overview">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Revenues and expenses 2015 to present</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="modal fade" style="" id="support">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">How to support this project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body ">
                   <div class="border-bottom">
                    <p class="font-weight-bold txt-14"></p>
                    <p class="font-italic txt-14"></p>
                    <p class="txt-12"></p>
                   </div>
                  </div>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style:"">
      <div id="accordionTwo" class="" role="tablist">
        <div class="card pb-0" id="map-of-locations">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 " data-toggle="collapse" data-parent="#accordionTwo"  data-target="#map_results" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-map fa-lg "></i>&nbsp;Map of SLR locations
            </a>
          </div>
          <div class="collapse show" data-parent="#accordionTwo" id="map_results" >
            <div class="card-body p-0">
              <div id="maps" style="height:380px"></div>
              <div class="bg-black text-white card-header" id="" style="">
                  <form class="d-inline-block" action='search_SLR/' method='get'>
                    <i class="fa fa-folder-open fa-lg mr-1 "></i>&nbsp;Details:&nbsp;&nbsp;
                    <select class="form-control-sm d-inline-block mr-2"style="width:180px" name='q'>
                      {% for x in slr_cities %}
                      <option class="txt-12" value= "{{ x }}">{{ x }}</option>
                      {% endfor %}
                    </select>
                    <button class="d-inline-block btn btn-outline-light text-white txt-14 p-1" style="background-color:transparent; border-color:white; border-width:1px" type='submit' ><i class="fa fa-external-link fa-lg"></i></button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="time-series-chart">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 collpased" data-toggle="collapse" data-parent="#accordionTwo"  data-target="#date_results" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-line-chart fa-lg "></i>&nbsp; Results by date and monthly summaries
            </a>
          </div>
          <div class="collapse " data-parent="#accordionTwo" id="date_results" >
            <div class="card-body p-0">
              <div class="align-self-center mb-4" id="box-plot"></div>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="distribution">
          <div class="card-header bg-info text-white" id="" style="">
            <a class="bg-info text-white w-100 p-1 collapsed" data-toggle="collapse" data-parent="#accordionTwo" data-target="#distro" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-line-chart fa-lg "></i>&nbsp;Results lakes v/s rivers
            </a>
          </div>
          <div class="collapse" data-parent="#accordionTwo" id="distro">
            <div class="card-body p-0">
              <div class="align-self-center" id="riv-lake"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style:"">
      <div id="accordion3" class="" role="tablist">
        <div class="card pb-0" id="density_top">
          <div class="bg-info text-white card-header" id="" style="">
            <a class="bg-info text-white w-100 p-1" data-toggle="modal" data-parent="#accordion3" data-target="#top-density" aria-expanded="false" aria-controls="links">
              <i class="fa fa-th-list fa-lg"></i>&nbsp; Locations, Av pcs/m, N<sup>o</sup> samples
            </a>
          </div>
          <div class="modal fade" id="top-density">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Locations, average pcs/m, number of samples</h5>
                  <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table-striped table table-sm">
                    <thead class="txt-14">
                      <tr>
                        <th>Location</th>
                        <th>pcs/m</th>
                        <th>N<sup>o</sup> of samples</th>
                      </tr>
                    </thead>
                    {% for r in locs_samples %}
                    <tr class="txt-12 ">
                      <td>{{ r.location_id }}</td>
                      <td>{{ r.density|floatformat:2 }}</td>
                      <td> {{ r.sample }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close align" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card pb-0" id="top_ten">
          <div class="bg-info text-white card-header" id="" style="">
            <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordion3" data-target="#top-ten-items" aria-expanded="false" aria-controls="links">
              <i class="fa fa-th-list fa-lg"></i>&nbsp; Top ten items found
            </a>
          </div>
          <div class="collapse show" data-parent="#accordion3" style="" id="top-ten-items">
            <div class="card-body p-0">
              <table class="table-striped table table-sm">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Code</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                {% for x in slr_top_ten %}

                <tr class="txt-12 ">
                  <td>{{ x.description }}</td>
                  <td>{{ x.code }}</td>
                  <td>{{ x.total|floatformat:0|intcomma }}</td>
                </tr>

                {% endfor %}

              </table>
            </div>
          </div>
        </div>
        <div class="card pb-2">
          <div class="card-header bg-info text-white " id="" style="">
            <a class="bg-info text-white w-100 p-1" data-toggle="collapse" data-parent="#accordion3"  data-target="#categories" aria-expanded="false" aria-controls="table-of-results">
              <i class="fa fa-th fa-lg "></i>&nbsp; Results sorted by source or economic sector
            </a>
          </div>
          <div class="collapse" data-parent="#accordion3" id="categories">
            <div class="card-body p-1 " id="" >
              <div class="mx-auto" id="">
                {% for k in sources_as %}
                {% if forloop.counter0|divisibleby:3 %}
                <div class="d-flex flex-row">
                  {% endif %}
                  <div class="d-inline-flex p-1 " style="background-color: {{ k.color}}; width: 33%">
                    <a class="text-white text-12" data-toggle="modal" data-target="#{{ k.color|lower }}" aria-expanded="false" aria-controls="table-of-results">
                      {% if k.name == 'Water Treatment' %}
                      <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; Waste water:<div>{{ k.source|floatformat:2 }}%</div>
                      {% endif %}
                      {% if k.name == 'Personal effects' %}
                      <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; Personal:<div>{{ k.source|floatformat:2 }}%</div>
                      {% endif %}

                      {% if k.name != 'Water Treatment' %}
                      {% if k.name != 'Personal effects' %}
                      <i class="d-inline-flex fa fa-th-list fa-lg"></i>&nbsp; {{ k.name }}:<div>{{ k.source|floatformat:2 }}%</div>
                      {% endif %}
                      {% endif %}
                    </a>
                  </div>
                  {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="card-block row justify-content-center pb-0 pt-1">
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 " data-toggle="modal"  data-target="#print-it" aria-expanded="false">
              Printable
              <br>
              <i class="fa fa-download fa-lg mt-2 mb-1"></i>
              <br>Report
            </a>
          </div>
          <div class="modal" id="print-it">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <div class="mx-auto text-center">
                    <p class="">This is not a free service.</p>
                  </div>
                </div>
                <div class="modal-body">
                  <p class="txt-14">If you would like a detailed report, charts, or a summary contact us.</p>
                  <p class="txt-14">Prices start at CHF/USD/EUR 350</p>
                  <p class="txt-14">Other options:
                    <ul>
                      <li>Charts</li>
                      <li>Summary data </li>
                      <li>Analysis</li>
                      <li>Compare with other data sets</li>
                      <li>Integrate other independent variables</li>
                      <li>Can be in any format</li>
                      <li>Executable scripts</li>
                      <li>Plus many more options </li>
                    </ul>
                  </p>
                  <p> Contact us for more information.</p>
                </div>
                <div class="modal-footer bg-dark">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14" data-toggle="modal"  data-target="#get-it" aria-expanded="false">
              Project
              <br>
              <i class="fa fa-download fa-lg mt-2 mb-1"></i>
              <br>
              data
            </a>
          </div>
          <div class="modal" id="get-it">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content bg-dark">
                <div class="modal-body text-white">
                  <p class="mx-auto">All of the data used for this section is available in our public download folder:</p>
                  <h3 class="text-center text-white"><a class="text-white" href="https://drive.google.com/drive/folders/1XL1-_rSHsX6nwPnUNVEQB76PkIvkGn--?usp=sharing">Right here</a></h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 " href="https://twitter.com/share?ref_src=twsrc%5Etfw"  data-via="hammerdirt" data-show-count="false" aria-expanded="false">
              <i class="fa fa-share-alt fa-lg mb-1"></i><br> Tweet
            </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="btn ml-1 wide-88 d-inline-flex align-items-center justify-content-center rounded-circle bg-red">
            <a class="text-white txt-14 "data-toggle="modal"  data-target="#get-us" aria-expanded="false">
              <i class="fa fa-comment fa-lg mb-1"></i><br> Contact
            </a>
          </div>
          <div class="modal" id="get-us">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-body bg-dark">
                  <div class="mx-auto text-center text-white">
                    <p class="">Want to know more ?</p>
                    <p class="">Send us an email:<br><br>info [at] hammerdirt.ch</p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <!-- {% for x in one_list %} -->
 <!-- <div class="modal fade" style="" id="{{ x|lower }}">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-body">
         <table id="{{ x }}" class="table-condensed table-striped table">
           <thead>
             <tr>
               <th colspan="2" class="bg-info text-white">
                 {{ x }}
                 <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               </th>
             </tr>
             <tr class="">
               <th>MLW code</th>
               <th>Description </th>
             </tr>
           </thead>
           {% for type in dates_four %}
           {% if type.source == x %}
           <tr>
             <td class="td_site-results">{{ type.code }}</td>
             <td class="td_site-results">{{ type.description }}</td>
           </tr>
           {% endif %}
           {% if x == 'Personal' %}
           {% if type.source == 'Personal effects' %}
           <tr>
             <td class="td_site-results">{{ type.code }}</td>
             <td class="td_site-results">{{ type.description }}</td>
           </tr>
           {% endif %}
           {% endif %}
           {% if x == 'Fragment' %}
           {% if type.source == 'Fragmented' %}
           <tr>
             <td class="td_site-results">{{ type.code }}</td>
             <td class="td_site-results">{{ type.description }}</td>
           </tr>
           {% endif %}
           {% endif %}
           {% if x == 'Water_treatment' %}
           {% if type.source == 'Water Treatment' %}
           <tr>
             <td class="td_site-results">{{ type.code }}</td>
             <td class="td_site-results">{{ type.description }}</td>
           </tr>
           {% endif %}
           {% endif %}
           {% endfor %}
         </table>
       </div>
     </div>
   </div>
 </div> -->
 <!-- {% endfor %} -->

{% endblock %}


{% block charts %}
{% load static %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
var map_points = {{ map_points|safe }};
var box_cats = {{ box_cats|safe }};
var boxer = {{ box_plot|safe }};
var plot_data = {{ plot_density|safe }};
var river = {{ rivers|safe }};
var lake = {{ lakes|safe }};
var box_lake = {{ box_lake|safe }};
var box_river = {{ box_river|safe }};
var box_cats = {{ box_cats|safe }};
// var sources_as = {{ sources_as|safe }}

var ts_plot = [];
plot_data.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  var today = new Date();
  if (element.date < today){
    ts_plot.push({"name":element.location_id, "x":element.date, "y":element.density});
  }
});
var riv_dens = []
river.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  riv_dens.push ({"name":element.location_id, "x":element.date, "y":element.density})
});

var lak_dens = []
lake.forEach(function(element){
  element.date = Date.parse(element.date);
  element.density = parseFloat(element.density);
  lak_dens.push ({"name":element.location_id, "x":element.date, "y":element.density})
});

</script>
<script type="text/javascript">
var map;
var styledMapType;
function initMap() {
  styledMapType = new google.maps.StyledMapType([
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#313026"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#00cdff"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
],
{name:'SLR locations'});
  map = new google.maps.Map(document.getElementById('maps'), {
    zoom:7,
    center: {lat: 46.83, lng: 8.23},
    minZoom:7,
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,

  });
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');

  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  var markers = [];

  for (i = 0; i < map_points.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(map_points[i][0], map_points[i][1]),
      map: map,
      label:{
        fontFamily: 'Fontawesome',
        text: '\uf1f8',
        fontSize: '20px',
        color: 'white'
      },
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 10,
        fillColor: 'black',
        fillOpacity:1,
      },


    });
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  map_points[i][6] + '</p>'+
    '<ul><li>City: ' + map_points[i][4] +'</li><li> Postal Code: ' + map_points[i][3] + '</li><li>Average pcs/m: ' + map_points[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    map_points[i][5] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));
    markers.push(marker);
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

  };
  // var markerCluster = new MarkerClusterer(map, markers,
  //     {imagePath: "{% static '/images/m' %}"});
   };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&callback=initMap"  async defer> </script>

</script>
<script type="text/javascript">
Highcharts.chart('box-plot', {

    chart: {
        type: 'boxplot',
        spacingBottom: 20,
    },

    title: {
        text: 'SLR: monthly summaries and daily results',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: 'Values greater than 50 pcs/m not shown',
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'top',
      horizontalAlign: 'left',
      layout:'vertical',
      floating:true,
      x:120,
      y:60,
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .5)',
      borderWidth:2,
      itemMarginTop:4,
      itemMarginBottom:4,
      itemStyle:{
        color: 'black',
        fontSize: '10px',
      },
    },
    plotOptions:{
      boxplot:{
        fillColor:'rgba(10, 46, 92, 1)',
        lineColor: 'rgba(00, 00, 00, 1)',
        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },

    xAxis: [{
        categories:box_cats,
        type: 'category',
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,

    },{
      type: 'datetime',
      opposite:true,
      visible:false,
      alignTicks:true,
      tickInterval:3600*1000*24*28,
      tickColor:'rgba(00, 00, 00, 1)',
      labels: {
        enabled: false,
        style: {
          color:'rgba(00, 00, 00, 1)',
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %y',
      },
    },
  ],
    yAxis: {
      min:0,
      max:85,
      ceiling:50,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter of shoreline',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },

    series:
    [{
      zIndex:3,
      xAxis:0,
      type: 'boxplot',
      name: 'Monthly summary',
      data: boxer,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },

    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'Survey results',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(10, 46, 92, .2)',
        fillColor:  'rgba(22, 199, 158, .2)',
        lineWidth:1,
      },
      data:ts_plot,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },

    ]

});
</script>
<script type="text/javascript">
Highcharts.chart('riv-lake', {

    chart: {
        type: 'boxplot',
        zoomType:'x',
        spacingBottom: 20,
    },

    title: {
        text: 'SLR beach-litter densities 2017-2018 rivers and lakes',
        style:{
          fontSize: '14px',
          color:'#0A2E5C',

        },
    },
    subtitle: {
      text: 'Values greater than 50 pcs/m not shown',
      style:{
        fontSize: '10px',
        color:'#0A2E5C',
      }

    },
    credits:{
      text:'hammerdirt 2018',

    },
    exporting: {
      enabled:false,
    },
    legend: {
      enabled: true,
      verticalAlign: 'bottom',
      align: 'center',
      layout:'horizontal',
      backgroundColor:'rgba(255,255,255, .4)',
      borderColor:'rgba(10, 46, 92, .4)',
      borderWidth:1,
      padding:8,
      margin:12,
      width:380,
      itemMarginBottom:2,
      itemDistance: 4,
      itemWidth:90,
      itemStyle:{
        color: 'black',
        fontSize: '10px',

      },
    },
    plotOptions:{
      boxplot:{
        stemColor:'rgba(10, 46, 92, 1)',
        stemDashStyle: 'dash',
        stemWidth:1,
        whiskerColor: 'rgba(00, 00, 00, 1)',
        groupPadding:0,
      }
    },
    xAxis: [{
        categories:box_cats,
        type: 'category',
        tickColor:'rgba(00, 00, 00, 1)',
        labels: {
          rotation:270,
          color:'rgba(00, 00, 00, 1)',
          fontSize:'10px'
        },
        opposite:false,
    },{
      type: 'datetime',
      opposite:true,
      visible:false,
      alignTicks:true,
      tickInterval:3600*1000*24*28,
      tickColor:'rgba(00, 00, 00, 1)',
      labels: {
        enabled: false,
        style: {
          color:'rgba(00, 00, 00, 1)',
        }
      },
      dateTimeLabelFormats: {
        month: '%b - %y',
      },
    },
  ],
    yAxis: {
      min:0,
      max:85,
      ceiling:50,
      alignTicks:false,
      tickInterval:10,
      minPadding:0.1,
      title: {
          align: 'low',
          offset: 40,
          text: 'Pieces of trash per meter of shoreline',
          style:{
            fontSize: '12px',
            color:'#0A2E5C',
          },
      },
      gridLineColor:'rgba(10, 46, 92, .1)',
      minorTickInterval:2,
      labels:{
        style: {
          color:'rgba(00, 00, 00, 1)',
          fontSize: '10px'
        }
      },

    },
    series:
    [{
      zIndex:3,
      fillColor:'rgba(215, 78, 9, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(215, 78, 9, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'Lakes-monthly',
      data: box_lake,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },
    },
    {
      zIndex:3,
      fillColor:'rgba(10, 46, 92, 1)',
      lineColor: 'rgba(00, 00, 00, 1)',
      medianColor:'rgba(22, 199, 158, 1)',
      color:'rgba(10, 46, 92, 1)',
      xAxis:0,
      type: 'boxplot',
      name: 'Rivers-monthly',
      data: box_river,
      tooltip: {
          headerFormat: '<em>{point.key}</em><br/>'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'Lake-daily',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(215, 78, 9, .4)',
        lineWidth:1,
      },
      data:lak_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
    {
      zIndex:2,
      xAxis:1,
      type: 'scatter',
      name:'River-daily',
      marker: {
        symbol: 'circle',
        radius:3,
        lineColor: 'rgba(00, 00, 00, .3)',
        fillColor:  'rgba(10, 46, 92, .4)',
        lineWidth:1,
      },
      data:riv_dens,
      tooltip: {
          headerFormat: '<b>{point.key}</b><br>',
          pointFormat: '{point.x:%e-%b}: {point.y:.2f} pc/m'
      },
    },
  ]
});
</script>


{% endblock %}
