{% load humanize %}
{% load static %}
<!--
Variables called:
summary : retrieves the summary array
button_top_ten_inventory_material.html
'sponsor_data':sponsor_data
'sponsor', 'sponsor_icon_name', 'sponsor_url', 'message'
-->
<div class="card border-white" id="data-summary" style="height:100%">
  <div class="card-header w-100 bg-dark text-left text-white" id="" style="font-family:'Montserrat'">
    Summary: &nbsp;{{ summary.13}}
  </div>
  <div class="card-body p-0 text-left" style="height:100%">
    <div class="embed-responsive" style="padding-bottom: 130%">
      <table id="summary-table" class="table table-sm table-striped text-left mb-0 embed-responsive-item"  style="">
        <tbody>
          <tr>
            <td colspan="2" class="bg-white p-0 pt-1 border-0">
              <div class="btn-group pl-1 bg-white" style="z-index:0">
                   <button id="" class="btn bg-white text-left"  style="min-width:72px"  href="#">
                      <small><strong>Sponsor:</strong></small>
                    </button> {% for x in sponsors %}
                <button id="{{ x.0|slugify }}" class="btn p-0 popover " data-html='true'   href="#">
                  <img src={% static  x.1 %}  height="40" alt='django logo'>
                </button>{% endfor %}
              <button id="help" style="height:40px" class="btn bg-primary btn-primary border border-primary popover text-white ml-1" data-html='true' href="#">
              <strong><- What is that? </strong></button></div>
              </td>
          </tr>
         <tr>
            <td colspan="2" class="bg-white p-0 pt-1 border-0">
              <div class="btn-group pl-1 bg-white" style="z-index:0">
                 <button id="" class="btn bg-white text-left"  style="min-width:72px"  href="#">
                    <small><strong>Crew:</strong></small>
                </button>{% for b in crew %}
                <button id="{{ b.0|slugify }}" class="btn popover p-0 " data-html='true'  href="#">
                   <img src={% static  b.1 %}  height="40" alt='django logo'>
                </button>{% endfor %}
                <button id="helpx" type="button" style="height:40px" class="btn bg-primary btn-primary border border-primary popover text-white ml-1" data-html='true'  href="#">
                  <strong><- What is that? </strong>
                </button>
              </div>
            </td>
          </tr>
           <tr>
             <td class="ml-auto">N<sup>o</sup> of Samples:</td>
             <td class="mr-auto">{{ summary.2 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">N<sup>o</sup> of locations:</td>
             <td class="mr-auto">{{ summary.0|floatformat:0 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">N<sup>o</sup> of rivers - lakes:</td>
             <td class="mr-auto">{{ summary.11|floatformat:0 }} - {{ summary.10|floatformat:0 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">First sample date:</td>
             <td class="mr-auto">{{ summary.3 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">Most recent sample:</td>
             <td class="mr-auto">{{ summary.4 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">N<sup>o</sup> of pieces of garbage:</td>
             <td class="mr-auto">{{ summary.1|intcomma }}</td>
           </tr>
           <tr>
             <td class="ml-auto">Avg pieces/meter:</td>
             <td class="mr-auto">{{ summary.5|floatformat:2 }} pcs/m</td>
           </tr>
           <tr>
             <td class="ml-auto">Standard deviation</td>
             <td class="mr-auto">{{ summary.12|floatformat:2 }}</td>
           </tr>
           <tr>
             <td class="ml-auto">25<sup>th</sup> percentile</td>
             <td class="mr-auto">{{ summary.8|floatformat:2 }} pcs/m</td>
           </tr>
           <tr>
             <td class="ml-auto">75<sup>th</sup> percentile</td>
             <td class="mr-auto"> {{ summary.9|floatformat:2 }} pcs/m</td>
           </tr>
           <tr>
             <td class="ml-auto">Min - Max pcs/m :</td>
             <td class="mr-auto"> {{ summary.7|floatformat:4 }} - {{ summary.6|floatformat:2 }}</td>
           </tr>
         </tbody>
      </table>
    </div>
    <div class="btn-toolbar">
      <div class="btn-grp w-100" style="">
    <button class="btn bg-info w-100 text-white text-left border-white " style="" data-toggle="modal"  data-target="#top-ten-code-material" aria-expanded="false" aria-controls="table-of-results">
      Top-ten-codes, material as % of total</button>
    <button class="btn bg-info w-100 text-white text-left border-white"  style="" data-toggle="modal" data-target="#total-inventory" aria-expanded="false" aria-controls="">
        Inventory of all items in this summary</button>
      </div>
    </div>
  </div>
</div>
