<!--
Variables called:
combined_map : calls the combined map array
-->
{% load static %}
<script type="text/javascript">
var combined_map = {{ combined_map|safe}}
console.log(combined_map)
var map;
var styledMapType;
function initMap() {
  styledMapType = new google.maps.StyledMapType(
    [
    {
      "featureType": "administrative",
      "elementType": "geometry",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "administrative.locality",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#313026"
        }
      ]
    },
    {
      "featureType": "administrative.locality",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#313026"
        }
      ]
    },
    {
      "featureType": "administrative.neighborhood",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels.icon",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.arterial",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.local",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "transit",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#00cdff"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    }
  ],
{name:'Litter surveys : {{ summary.13}}'});
  map = new google.maps.Map(document.getElementById('combined_map'), {
    mapTypeControlOptions: {
      mapTypeIds: ['styled_map'],
    },
    streetViewControl:false,
    fullscreenControl:false,
  });
  var bounds = new google.maps.LatLngBounds();
  var infowindow = new google.maps.InfoWindow();
  var marker, i, scayle, contentString;
  var markers = []
  for (i = 0; i < combined_map.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(combined_map[i][3], combined_map[i][4]),
      map: map,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 8,
        fillColor:  'rgba(255, 65, 168, .6)',
        strokeColor:'rgba(255, 00, 00, .8)',
        fillOpacity:1,
        strokeOpacity:1,
        strokeWeight:2,
      },
    });
    bounds.extend(marker.position);
    google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
      this.setZoom(map.getZoom()-5);
      if (this.getZoom() < 9) {
        this.setZoom(7);
      }
    });

    map.fitBounds(bounds);
    //this function listens for the event "tiles loaded" and then hides the spiiner and center div
    var div_hide = google.maps.event.addListenerOnce(map,'tilesloaded', function () {
          document.getElementById('loading').style.visibility='hidden';
          document.getElementById('loading2').style.display='none';
          document.getElementById('hide-me').style.visibility='visible';

    });
    var contentString = '<div><p style="margin-bottom:4px; font-size:14px;">' +  combined_map[i][0] + '</p>'+
    '<ul><li>City: ' + combined_map[i][5] + '</li><li>Average pcs/m: ' + combined_map[i][2] + '</li><li>N<sup>o</sup> of samples: ' +
    combined_map[i][1] + '</li><li>Project : ' + combined_map[i][6] + '</li></ul></div>';
    marker.addListener('click', function(content){
      return function(){
        infowindow.setContent(content);
        infowindow.open(map, this);
      }
    }(contentString));
    markers.push(marker);
  };
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40jm5y3TNXHeagBkulq-mS2A3ep4TWY&libraries=visualization&callback=initMap"  async defer> </script>
